<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link rel="stylesheet" href="/content/css/aulasAbiertas.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="introDictado">
      <div>
        <img src="/content/img/aulasAbiertas/Logo-Aulas-Fuca.svg" alt="Logo AulasFuca">
        <div class="introduccion">
          <p>
            El real conocimiento del cáncer como enfermedad curable ayuda a tomar actitudes positivas, a través del
            aprendizaje de síntomas y signos de alarma. Así estimula la consulta precoz y por lo tanto un diagnóstico
            temprano.
          </p>
          <p>
            Miles de estudiantes, de más de 200 colegios, han transitado acompañados por sus docentes, desde el año
            1997,
            asistiendo a las clases dictadas por los médicos becarios de la Residencia en Oncología Clínica de FUCA.
          </p>
        </div>
      </div>
      <div class="border-primary-1 radius-18 pa-1">
        <img src="/content/img/aulasAbiertas/Dictado-Clases-Fuca.svg" alt="Dictado Clases Fuca">
        <h1 class="text-start font-125 text-primary mb-05">Dictado de clases</h1>
        <div class="dictadoClasesText column ga-1">
          <p class="font-0875">
            Las clases se dictan de manera presencial (en el Auditorio del Instituto Alexander Fleming, CABA) y virtual
            a
            través de ZOOM, <span class="font-w-700">los días miércoles de 9 a 10hs.</span>
          </p>
          <p class="font-0875 font-w-700">Coordina: Laura Alvarez</p>
        </div>
      </div>
    </section>
    <section class="w-100 aulasAbiertas column gap-15 bg-primary">
      <img src="/content/img/aulasAbiertas/Aulas-Abiertas-Clase.png" alt="Aulas Abiertas Clase">
      <div class="objetivosContainer">
        <p class="text-white font-weight-bold my-15">Objetivo de Aulas Abiertas:</p>
        <ul class="aulasAbiertasList column ga-15">
          <li class="font-0875 text-white">
            Lograr que los alumnos sean agentes de salud, multiplicadores de la información en sus familias y
            comunidades.
          </li>
          <li class="font-0875 text-white">
            Concientizar sobre la importancia de la prevención y la detección temprana del cáncer, promoviendo
            conductas saludables.
          </li>
          <li class="font-0875 text-white">
            Transmitir conocimientos básicos acerca del cáncer como una enfermedad que puede tener cura.
          </li>
        </ul>
      </div>
    </section>
    <section class="contenidoAulasAbiertas">
      <h2 class="titleUnderline h2NuestrosPilares">
        Contenido de Aulas Abiertas
        <span class="greenUnderlineTitle"></span>
      </h2>
      <p class="font-weight-bold">El eje central del encuentro es la enfermedad del cáncer.</p>
      <ul class="column ga-05 ">
        <li>¿Qué sucede en nuestras células que origina el cáncer?</li>
        <li>¿Cómo se altera el ADN?</li>
        <li>¿Cuáles son los factores de riesgo que aumentan las probabilidades de contraer algún tipo de cáncer?</li>
        <li>¿Cuáles son las medidas de prevención existentes?</li>
        <li>El alcohol, el tabaquismo, el abuso de la exposición solar, la tecnología, la nutrición y el sedentarismo
          entre otros.</li>
        <li>También se incluyen las infecciones de transmisión sexual, como el Virus del Papiloma</li>
        <li>Humano (VPH) y los controles ginecológicos ideales para cuidar nuestra salud. Diagnóstico temprano del
          cáncer de mama.</li>
        <li>Por último, se analizan mitos y verdades, con el fin de derribar prejuicios y suposiciones</li>
      </ul>
    </section>
    <section class="seccionCita center">
      <img class="w-100" src="/content/img/aulasAbiertas/Cita-Reinaldo-Chacon.svg" alt="Cita Reinaldo Chacon">
    </section>
    <section class="inscribiTuColegio columnAlignCenter ga-15">
      <div id="caracteristicasContainer" class="caracteristicasContainer"></div>
      <a href="#" class="inscribiColegioBtn primaryButton">
        INSCRIBÍ A TU COLEGIO EN AULAS ABIERTAS
      </a>
    </section>
    <section class="colegiosParticiparon">
      <h2 class="titleUnderline h2Colegios">
        Colegios que participaron
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div id="colegiosContainer" class="colegiosContainer"></div>
      <div class="center">
        <button type="button" id="cargarMas" class="primaryButton">CARGAR MÁS</button>
      </div>
    </section>
    <section class="inscribiSolicita">
      <div id="linksContainer" class="linksContainer column"></div>
    </section>
    <section class="trabajosAcompanan">
      <h2 class="titleUnderline h2TrabajosRealizados">
        Trabajos realizado por los alumnos
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div class="swiperTrabajosAlumnos">
        <div id="trabajosAlumnosContenedor" class="swiper-wrapper"></div>
      </div>
      <div id="trabajosAlumnosDesktop" class="trabajosAlumnosDesktop"></div>
      <h2 class="titleUnderline h2Acompanan">
        Acompañan
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div class="swiperAcompanan">
        <div id="acompananContenedor" class="swiper-wrapper"></div>
      </div>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/aulasAbiertas.js"></script>
</body>

</html>