<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link href="/content/img/favicon-fuca.svg" rel="shortcut icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/aulasAbiertas.css">
</head>

<body>
  <!--header-->
  <header class="bg-primary">
    <img class="logoHeader" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
    <img class="hamburger desktop-none" id="menu-toggle" src="/content/img/header-footer/Hamburger.svg"
      alt="Menu Hamburguesa" />
    <nav class="column ga-15 py-15-px-1 desktop-none" id="mobile-menu"></nav>
    <nav id="desktop-menu">
      <ul id="menuDesktopList" class="menuDesktopList"></ul>
    </nav>
  </header>
  <main>
    <section class="introDictado">
      <div>
        <img src="/content/img/aulasAbiertas/Logo-Aulas-Fuca.svg" alt="Logo AulasFuca">
        <div class="introduccion">
          <p>
            El real conocimiento del cáncer como enfermedad curable ayuda a tomar actitudes positivas, a través del
            aprendizaje de síntomas y signos de alarma. Así estimula la consulta precoz y por lo tanto un diagnóstico
            temprano.
          </p>
          <p>
            Miles de estudiantes, de más de 200 colegios, han transitado acompañados por sus docentes, desde el año
            1997,
            asistiendo a las clases dictadas por los médicos becarios de la Residencia en Oncología Clínica de FUCA.
          </p>
        </div>
      </div>
      <div class="border-primary-1 radius-18 pa-1">
        <img src="/content/img/aulasAbiertas/Dictado-Clases-Fuca.svg" alt="Dictado Clases Fuca">
        <h1 class="text-start font-125 text-primary mb-05">Dictado de clases</h1>
        <div class="dictadoClasesText column ga-1">
          <p class="font-0875">
            Las clases se dictan de manera presencial (en el Auditorio del Instituto Alexander Fleming, CABA) y virtual
            a
            través de ZOOM, <span class="font-w-700">los días miércoles de 9 a 10hs.</span>
          </p>
          <p class="font-0875 font-w-700">Coordina: Laura Alvarez</p>
        </div>
      </div>
    </section>
    <section class="w-100 aulasAbiertas column gap-15 bg-primary">
      <img src="/content/img/aulasAbiertas/Aulas-Abiertas-Clase.png" alt="Aulas Abiertas Clase">
      <div class="objetivosContainer">
        <p class="text-white font-weight-bold my-15">Objetivo de Aulas Abiertas:</p>
        <ul class="aulasAbiertasList column ga-15">
          <li class="font-0875 text-white">
            Lograr que los alumnos sean agentes de salud, multiplicadores de la información en sus familias y
            comunidades.
          </li>
          <li class="font-0875 text-white">
            Concientizar sobre la importancia de la prevención y la detección temprana del cáncer, promoviendo
            conductas saludables.
          </li>
          <li class="font-0875 text-white">
            Transmitir conocimientos básicos acerca del cáncer como una enfermedad que puede tener cura.
          </li>
        </ul>
      </div>
    </section>
    <section class="contenidoAulasAbiertas">
      <h2 class="titleUnderline h2NuestrosPilares">
        Contenido de Aulas Abiertas
        <span class="w-45 greenUnderlineTitle"></span>
      </h2>
      <p class="font-weight-bold">El eje central del encuentro es la enfermedad del cáncer.</p>
      <ul class="column ga-05 ">
        <li>¿Qué sucede en nuestras células que origina el cáncer?</li>
        <li>¿Cómo se altera el ADN?</li>
        <li>¿Cuáles son los factores de riesgo que aumentan las probabilidades de contraer algún tipo de cáncer?</li>
        <li>¿Cuáles son las medidas de prevención existentes?</li>
        <li>El alcohol, el tabaquismo, el abuso de la exposición solar, la tecnología, la nutrición y el sedentarismo
          entre otros.</li>
        <li>También se incluyen las infecciones de transmisión sexual, como el Virus del Papiloma</li>
        <li>Humano (VPH) y los controles ginecológicos ideales para cuidar nuestra salud. Diagnóstico temprano del
          cáncer de mama.</li>
        <li>Por último, se analizan mitos y verdades, con el fin de derribar prejuicios y suposiciones</li>
      </ul>
    </section>
    <section class="seccionCita center">
      <img class="w-100" src="/content/img/aulasAbiertas/Cita-Reinaldo-Chacon.svg" alt="Cita Reinaldo Chacon">
    </section>
    <section class="inscribiTuColegio columnAlignCenter ga-15">
      <div id="caracteristicasContainer" class="caracteristicasContainer"></div>
      <a href="#" class="inscribiColegioBtn primaryButton">
        INSCRIBÍ A TU COLEGIO EN AULAS ABIERTAS
      </a>
    </section>
    <section class="colegiosParticiparon">
      <h2 class="titleUnderline h2Colegios">
        Colegios que participaron
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div id="colegiosContainer" class="colegiosContainer"></div>
      <div class="center">
        <button type="button" class="w-100 primaryButton">CARGAR MÁS</button>
      </div>
    </section>
    <section class="inscribiSolicita">
      <div id="linksContainer" class="linksContainer column"></div>
    </section>
    <section class="trabajosAcompanan">
      <h2 class="titleUnderline h2TrabajosRealizados">
        Trabajos realizado por los alumnos
        <span class="w-45 greenUnderlineTitle"></span>
      </h2>
      <div class="swiperTrabajosAlumnos">
        <div id="trabajosAlumnosContenedor" class="swiper-wrapper"></div>
      </div>
      <div id="trabajosAlumnosDesktop" class="trabajosAlumnosDesktop"></div>
      <h2 class="titleUnderline h2Acompanan">
        Acompañan
        <span class="w-45 greenUnderlineTitle"></span>
      </h2>
      <div class="swiperAcompanan">
        <div id="acompananContenedor" class="swiper-wrapper"></div>
      </div>
    </section>
  </main>
  <!--footer-->
  <footer>
    <div class="bg-secondary py-15-px-1 m-py-175-px-15 lg-py-225-px-3 xl-py-3-px-5">
      <div class="logoRedesFooter">
        <img class="logoFooter" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
        <div class="containerRedesFooter my-15 py-075">
          <div id="redesFooter" class="rowCenter ga-075"></div>
        </div>
      </div>
      <div class="footerMedio mt-15">
        <div class="donaHoyContainer column">
          <p class="text-white">
            En <span class="font-weight-bold">FUCA</span> contribuimos a reducir la mortalidad por cáncer a través de la
            educación médica y comunitaria, la investigación científica y la concientización para la prevención y el
            cuidado
            de la salud.
          </p>
          <a href="#" class="w-80 primaryButton donaFucaFooter text-none my-15">
            DONÁ HOY A FUCA
          </a>
        </div>
        <div class="column ga-15 desktop-none">
          <div id="menuFooterMobile" class="menuFooterMobile"></div>
          <div class="column ga-15">
            <div class="column ga-1">
              <div class="titleUnderline">
                <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
                <span class="underlineFooter whiteUnderlineTitle"></span>
              </div>
              <div class="rowAlign ga-05">
                <div class="iconDondeEstamos bgImgContain"></div>
                <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
              </div>
            </div>
            <div class="column ga-1">
              <div class="titleUnderline">
                <p class="text-white font-weight-bold">CONTACTATE</p>
                <span class="underlineFooter whiteUnderlineTitle"></span>
              </div>
              <div id="contactateList" class="column ga-15"></div>
            </div>
            <div class="w-75 programasFleming rowCenter ga-075">
              <p class="text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas en:</p>
              <img class="flemingMobile" src="/content/img/header-footer/logo-iaf.webp"
                alt="Logo-Insituto-Alexander-Fleming" />
            </div>
          </div>
        </div>
        <div id="menuFooterDesktop" class="menuFooterDesktop"></div>
      </div>
      <div class="footerDesktopAbajo rowAlign">
        <div class="fucaDesarrolla rowAlign ga-075">
          <p class="w-60 text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas en:</p>
          <img class="fleming w-20" src="/content/img/header-footer/logo-iaf.webp"
            alt="Logo Insituto Alexander Fleming">
        </div>
        <div class="fucaDesarrollaDerecha">
          <div class="column ga-1">
            <div class="titleUnderline">
              <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
              <span class="underlineFooter whiteUnderlineTitle"></span>
            </div>
            <div class="rowAlign ga-05">
              <div class="iconDondeEstamos bgImgContain"></div>
              <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
            </div>
          </div>
          <div class="column ga-1">
            <div class="titleUnderline">
              <p class="text-white font-weight-bold">CONTACTATE</p>
              <span class="underlineFooter whiteUnderlineTitle"></span>
            </div>
            <div id="contactateListDesktop" class="contactateList column ga-15"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="derechos py-15-px-1">
      <p class="font-weight-bold text-center text-white">Fundación FUCA Copyright© 2024</p>
      <p class="font-weight-bold text-center text-white">Todos los derechos reservados</p>
    </div>
  </footer>
  <!--finbody-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/content/js/headerFooter.js"></script>
  <script src="/content/js/aulasAbiertas.js"></script>
</body>

</html>