<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link rel="stylesheet" href="/content/css/becarios.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Becarios y Ex Becarios<span>Fundación FUCA</span></h1>
      </div>
    </section>
    <section class="becarios">
      <div class="buttonsBecarios">
        <button id="becariosActuales" class="btnBecarios active">Becarios actuales</button>
        <button id="exBecarios" class="btnBecarios inactive">Ex becarios</button>
      </div>

      <div id="becariosActualesContent" class="becariosContainer activeContent">
        <div class="w-100 titleContent columnAlignCenter">
          <h2 class="w-100 titleUnderline">
            <span>Residencia Oncológica Clínica</span>
            <span class="greenUnderlineTitle"></span>
          </h2>
          <div class="containerAnios columnAlignCenter">
            <h3>Primer Año</h3>
            <div class="containerBecariosCards columnAlignCenter">
              <div class="becarioCard columnAlignCenter">
                <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
                <div class="becarioInfo columnAlignCenter">
                  <p class="nombre">Dr. Gisela Vargas</p>
                  <p class="anios">2022-2026</p>
                  <p class="lugar">Instituto Alexander Fleming, CABA</p>
                </div>
              </div>
              <div class="becarioCard columnAlignCenter">
                <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
                <div class="becarioInfo columnAlignCenter">
                  <p class="nombre">Dra. Dulce Alzugaray</p>
                  <p class="anios">2022-2026</p>
                </div>
              </div>
            </div>
          </div>
          <div class="containerAnios columnAlignCenter">
            <h3>Segundo Año</h3>
            <div class="containerBecariosCards columnAlignCenter">
              <div class="becarioCard columnAlignCenter">
                <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
                <div class="becarioInfo columnAlignCenter">
                  <p class="nombre">Dr. Carlos Ramirez</p>
                  <p class="anios">2022-2026</p>
                </div>
              </div>
              <div class="becarioCard columnAlignCenter">
                <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
                <div class="becarioInfo columnAlignCenter">
                  <p class="nombre">Dra. Romina Ferrari</p>
                  <p class="anios">2022-2026</p>
                  <p class="lugar">Instituto Alexander Fleming, CABA</p>
                </div>
              </div>
              <div class="becarioCard columnAlignCenter">
                <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
                <div class="becarioInfo columnAlignCenter">
                  <p class="nombre">Dr. Carlos Palmés</p>
                  <p class="anios">2022-2026</p>
                  <p class="lugar">Hospital Alta Complejidad</p>
                </div>
              </div>
            </div>
          </div>
          <div class="containerAnios columnAlignCenter">
            <h3>Tercer Año</h3>
            <div class="containerBecariosCards columnAlignCenter">
              <div class="becarioCard columnAlignCenter">
                <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
                <div class="becarioInfo columnAlignCenter">
                  <p class="nombre">Dra. Dana Narvaez</p>
                  <p class="anios">2022-2026</p>
                  <p class="lugar">Hospital Alta Complejidad</p>
                </div>
              </div>
              <div class="becarioCard columnAlignCenter">
                <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
                <div class="becarioInfo columnAlignCenter">
                  <p class="nombre">Dr. Marcos Daniel Bortz</p>
                  <p class="anios">2022-2026</p>
                </div>
              </div>
              <div class="becarioCard columnAlignCenter">
                <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
                <div class="becarioInfo columnAlignCenter">
                  <p class="nombre">Dra. Greta Catani</p>
                  <p class="anios">2022-2026</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 titleContent columnAlignCenter">
          <h2 class="w-100 titleUnderline">
            <span>Residencia en Mastología</span>
            <span class="greenUnderlineTitle"></span>
          </h2>
          <div class="containerBecariosCards columnAlignCenter">
            <div class="becarioCard columnAlignCenter">
              <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
              <div class="becarioInfo columnAlignCenter">
                <p class="nombre">Dra. María Belén Ancao</p>
                <p class="anios">2023-2025</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 titleContent columnAlignCenter">
          <h2 class="w-100 titleUnderline">
            <span>Fellowship en Onco-Hematología</span>
            <span class="greenUnderlineTitle"></span>
          </h2>
          <div class="containerBecariosCards columnAlignCenter">
            <div class="becarioCard columnAlignCenter">
              <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
              <div class="becarioInfo columnAlignCenter">
                <p class="nombre">Dra. Josefina Troccoli</p>
                <p class="anios">2023-2025</p>
              </div>
            </div>
            <div class="becarioCard columnAlignCenter">
              <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
              <div class="becarioInfo columnAlignCenter">
                <p class="nombre">Dra. Andrea Carolina Muñoz</p>
                <p class="anios">2023-2025</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 titleContent columnAlignCenter">
          <h2 class="w-100 titleUnderline">
            <span>Fellowship en Cirugía Torácica</span>
            <span class="greenUnderlineTitle"></span>
          </h2>
          <div class="containerBecariosCards columnAlignCenter">
            <div class="becarioCard columnAlignCenter">
              <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
              <div class="becarioInfo columnAlignCenter">
                <p class="nombre">Dr. Miguel Ángel Lima</p>
                <p class="anios">2023-2025</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 titleContent columnAlignCenter">
          <h2 class="w-100 titleUnderline">
            <span>Fellowship en Urología Oncológica</span>
            <span class="greenUnderlineTitle"></span>
          </h2>
          <div class="containerBecariosCards columnAlignCenter">
            <div class="becarioCard columnAlignCenter">
              <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
              <div class="becarioInfo columnAlignCenter">
                <p class="nombre">Dra. Tatiana Ailen Letowski</p>
                <p class="anios">2023-2024</p>
              </div>
            </div>
            <div class="becarioCard columnAlignCenter">
              <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
              <div class="becarioInfo columnAlignCenter">
                <p class="nombre">Dr. Gastón Fernández Candia</p>
                <p class="anios">2023-2024</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 titleContent columnAlignCenter">
          <h2 class="w-100 titleUnderline">
            <span>Fellowship en Ortopedia Oncológica</span>
            <span class="greenUnderlineTitle"></span>
          </h2>
          <div class="containerBecariosCards columnAlignCenter">
            <div class="becarioCard columnAlignCenter">
              <img src="/content/img/becarios/Ejemplo-Becario.png" alt="" class="becarioImg">
              <div class="becarioInfo columnAlignCenter">
                <p class="nombre">Dr. Miguel Alfredo Beleño Cruz</p>
                <p class="anios">2022-2024</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div id="exBecariosContent" class="becariosContainer">
        <h2 class="w-100 titleUnderline">
          Residencia Oncológica Clínica
          <span class="greenUnderlineTitle"></span>
        </h2>
      </div>
    </section>
    <section class="donacionVidas columnAlignCenter">
      <h2>Tu donación salva vidas</h2>
      <p class="text-center">
        Tu donación apoya a nuestros médicos
        e investigadores
      </p>
      <a href="#" class="primaryButton" target="_blank">DONA HOY</a>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/becarios.js"></script>
</body>

</html>