<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Biblioteca Biomédica FUCA - Gestión del Conocimiento en Oncología</title>
  <meta name="description"
    content="Accede a la Biblioteca Biomédica de FUCA, un recurso único para el desarrollo científico y la gestión del conocimiento en oncología. Fomentamos la investigación y la educación para combatir el cáncer.">
  <meta name="keywords"
    content="Biblioteca Biomédica FUCA, gestión del conocimiento, oncología clínica, investigación biomédica, educación médica, recursos científicos FUCA, Fundación Cáncer Argentina">
  <!--head-->
  <link rel="stylesheet" href="/content/css/bibliotecaBiomedica.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Biblioteca biomédica FUCA - Fleming<span>para profesionales de la salud</span></h1>
      </div>
    </section>
    <section class="introBiblioteca">
      <p>
        FUCA cuenta con una biblioteca biomédica, ubicada en el Instituto Alexander Fleming. El servicio de información
        científica está diseñado en el marco de un modelo de <span class="font-weight-bold">biblioteca activa y esencial
          que participa a través
          de la investigación documental en diferentes proyectos</span> del Instituto, reconocido por los profesionales
        en sus trabajos
        clínicos y de investigación.
      </p>
    </section>
    <section class="misionBiblioteca columnAlignCenter">
      <img class="w-100" src="/content/img/educacionMedica/medicos.webp" alt="Mision de la biblioteca">
      <div class="column">
        <h2 class="text-white">Misión de la biblioteca</h2>
        <ul class="column">
          <li>Es competencia de la biblioteca gestionar eficazmente los recursos de información, facilitar el acceso y
            la difusión del material documental.</li>
          <li>Colaborar en los procesos de creación del conocimiento para satisfacer las necesidades de información en
            investigación, docencia y asistencia en Oncología y en las diferentes disciplinas médicas.</li>
        </ul>
      </div>
    </section>
    <section class="lineasAccion columnAlignCenter">
      <h2 class="w-100 titleUnderline">
        Líneas de acción
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div id="accionesContainer" class="w-100 accionesContainer columnAlignCenter"></div>
    </section>
    <section class="serviciosTecnologias columnAlignCenter">
      <div class="column">
        <img class="w-100" src="/content/img/bibliotecaBiomedica/Servicio-Gestion-Conocimiento.webp"
          alt="Servicio gestion conocimiento">
        <div class="column">
          <h2 class="w-100 titleUnderline">
            Servicio de gestión del conocimiento y acceso a la información
            <span class="greenUnderlineTitle"></span>
          </h2>
          <p class="tecNone">
            Los aspectos que afectan al proceso de la investigación, edición, difusión y consumo de la información
            tienen su incidencia en el proceso de información y comunicación que desarrolla la biblioteca como entidad
            gestora del conocimiento.
          </p>
          <ul class="column">
            <li>Acceso a publicaciones científicas y recursos internacionales.</li>
            <li>Servicios explícitos que cada usuario goza de acuerdo a su perfil.</li>
            <li>Motores de búsqueda especializados por área temática, formato de las fuentes, editores.</li>
            <li>DSI: Diseminación Selectiva de Información.</li>
            <li>Alertas y sistemas dinámicos de noticias.</li>
            <li>Desarrollo de colecciones digitales.</li>
            <li>Comunicación presencial y virtual.</li>
          </ul>
          <div class="tecNone">
            <p>
              La DSI es un sistema de información personalizado, que se adapta a un determinado perfil previamente
              definido por el usuario y el documentalista.
            </p>
            <p>
              La eficacia de este servicio depende de la calidad de los documentos y de la pertinencia del perfil del
              usuario.
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <img class="w-100" src="/content/img/bibliotecaBiomedica/Tecnologias-Informacion.webp"
          alt="Tecnologias Informacion">
        <div class="column">
          <h2 class="w-100 titleUnderline">
            TICS Tecnologías de información y
            comunicación social
            <span class="greenUnderlineTitle"></span>
          </h2>
          <p class="tecNone">
            Las innovaciones tecnológicas han transformado la manera en que se procesa, se guarda, se accede, se
            comparte y se analiza la información.
          </p>
          <p class="font-weight-bold">IMPACTO TICS</p>
          <ul class="column">
            <li>Acceso a información relevante y de calidad.</li>
            <li>Atención a comunidades especializadas.</li>
            <li>Personalización de servicios de información.</li>
            <li>Trámites virtuales.</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="redio columnAlignCenter">
      <div class="column">
        <h2 class="w-100 titleUnderline">
          REDIO
          <span class="greenUnderlineTitle"></span>
        </h2>
        <p>
          <span class="font-weight-bold">REDIO - Red de Información Oncológica</span> se originó en la dirección de
          nuestra Biblioteca FUCA-Fleming en el año
          2005. A partir de este proyecto, la Directora de la Biblioteca, la Prof. María Luisa Poljak ha generado
          alianzas estratégicas con diversos centros de información.
        </p>
        <p>
          El Instituto Leloir se unió a este emprendimiento y llevamos recorridos 19 años consolidando los objetivos de
          REDIO. Creamos un newsletter bajo la responsabilidad de las directoras de bibliotecas y con la colaboración de
          los profesionales de ambas instituciones que prestigian los contenidos con sus valiosos aportes.
        </p>
      </div>
      <div id="linksRedioContainer" class="w-100 linksRedioContainer columnAlignCenter"></div>
    </section>
    <section class="informacionCientifica columnAlignCenter">
      <div class="column">
        <h2 class="w-100 titleUnderline">
          Información y comunicación
          científica
          <span class="greenUnderlineTitle"></span>
        </h2>
        <p>
          Este proyecto ha sido diseñado para la creación y difusión de contenidos científicos en Oncología y su
          interacción con las diferentes disciplinas médicas. Está destinado a profesionales de la salud, nacionales e
          internacionales con interés y/o especialización en oncología y a instituciones públicas y privadas.
        </p>
      </div>
      <div class="w-100 linkedinEquipoColaboradores column">
        <div class="column">
          <img class="w-100" src="/content/img/bibliotecaBiomedica/Informacion-Comunicacion-Cientifica.webp"
            alt="Informacion Comunicacion Cientifica">
          <a href="https://www.linkedin.com/company/fundacionfuca/" class="primaryButton ingresarLinkedin"
            target="_blank">
            INGRESAR A LINKEDIN
          </a>
        </div>
        <div class="w-100 equipoColaboradores column">
          <div class="column">
            <h2>Equipo</h2>
            <div id="equipoContainer" class="equipoContainer columnAlignCenter"></div>
          </div>
          <div class="column">
            <h2>Colaboradores</h2>
            <div id="colaboradoresContainer" class="colaboradoresContainer columnAlignCenter"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="tuCrecimiento columnAlignCenter bg-primary">
      <div class="column">
        <h2 class="text-white">Tu crecimiento profesional, nuestro compromiso</h2>
        <p class="text-white">
          Unite a nuestra biblioteca biomédica. Como miembro, tendrás acceso a material científico de relevancia y
          recursos de información para investigadores y profesionales médicos.
        </p>
      </div>
      <button onclick="createModal('biblioteca')" class="secondaryButton solicitarMembresia">
        SOLICITAR MEMBRESÍA
      </button>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/bibliotecaBiomedica.js"></script>
</body>

</html>