<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link rel="stylesheet" href="/content/css/bibliotecaBiometica.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Biblioteca biomédica FUCA - Fleming<span>para profesionales de la salud</span></h1>
      </div>
    </section>
    <section class="introBiblioteca">
      <p>
        FUCA cuenta con una biblioteca biomédica, ubicada en el Instituto Alexander Fleming. El servicio de información
        científica está diseñado en el marco de un modelo de <span class="font-weight-bold">biblioteca activa y esencial
          que participa a través
          de la investigación documental en diferentes proyectos</span> del Instituto, reconocido por los profesionales
        en sus trabajos
        clínicos y de investigación.
      </p>
    </section>
    <section class="misionBiblioteca columnAlignCenter">
      <img src="/content/img/bibliotecaBiometica/Mision-Bibioteca.png" alt="Mision de la biblioteca">
      <div class="column">
        <h2 class="text-white">Misión de la biblioteca</h2>
        <ul class="column">
          <li>Es competencia de la biblioteca gestionar eficazmente los recursos de información, facilitar el acceso y
            la difusión del material documental.</li>
          <li>Colaborar en los procesos de creación del conocimiento para satisfacer las necesidades de información en
            investigación, docencia y asistencia en Oncología y en las diferentes disciplinas médicas.</li>
        </ul>
      </div>
    </section>
    <section class="lineasAccion columnAlignCenter">
      <h2 class="w-100 titleUnderline">
        Líneas de acción
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div id="accionesContainer" class="w-100 accionesContainer columnAlignCenter"></div>
    </section>
    <section class="serviciosTecnologias columnAlignCenter">
      <div class="column">
        <img src="/content/img/bibliotecaBiometica/Servicio-Gestion-Conocimiento.png"
          alt="Servicio gestion conocimiento">
        <div class="column">
          <h2 class="w-100 titleUnderline">
            Servicio de gestión del conocimiento y acceso a la información
            <span class="greenUnderlineTitle"></span>
          </h2>
          <ul class="column">
            <li>Acceso a publicaciones científicas y recursos internacionales.</li>
            <li>Servicios explícitos que cada usuario goza de acuerdo a su perfil.</li>
            <li>Motores de búsqueda especializados por área temática, formato de las fuentes, editores.</li>
            <li>DSI: Diseminación Selectiva de Información.</li>
            <li>Alertas y sistemas dinámicos de noticias.</li>
            <li>Desarrollo de colecciones digitales.</li>
            <li>Comunicación presencial y virtual.</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <img src="/content/img/bibliotecaBiometica/Tecnologias-Informacion.png" alt="Tecnologias Informacion">
        <div class="column">
          <h2 class="w-100 titleUnderline">
            TICS Tecnologías de información y
            comunicación social
            <span class="greenUnderlineTitle"></span>
          </h2>
          <p class="font-weight-bold">IMPACTO TICS</p>
          <ul class="column">
            <li>Acceso a información relevante y de calidad.</li>
            <li>Atención a comunidades especializadas.</li>
            <li>Personalización de servicios de información.</li>
            <li>Trámites virtuales.</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/bibliotecaBiometica.js"></script>
</body>

</html>