<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>
        Charlas de Profesionales
    </title>
    <meta name="description" content="Novedades." />
    <meta name="keywords" content="Novedades" />
    <!--head-->
    <link href="/content/img/favicon-fuca.svg" rel="shortcut icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/content/css/main.css">
    <meta property="og:title" content="FUCA - Fundación Argentina de Cáncer | Prevención y Diagnóstico del Cáncer">
    <meta property="og:description"
        content="En FUCA promovemos la prevención y el diagnóstico temprano del cáncer a través de la educación, la investigación y la asistencia médica. Descubre nuestros programas y cómo puedes participar para salvar vidas.">
    <meta property="og:url" content="https://fuca.org.ar/">
    <meta property="og:image" content="https://fuca.org.ar/content/images/logo-fuca.jpg">
    <meta property="og:image:alt" content="Logo de FUCA - Fundación para la Investigación y Lucha contra el Cáncer">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:site_name" content="FUCA">
    <base href="/">
    <link rel="stylesheet" href="/content/css/charlasProfesionales.css">
</head>

<body>
    <!--header-->
    <header class="bg-primary">
        <a href="/">
            <img class="logoHeader" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
        </a>
        <img class="hamburger desktop-none" id="menu-toggle" src="/content/img/header-footer/Hamburger.svg"
            alt="Menu Hamburguesa" />
        <nav class="column ga-15 py-15-px-1 desktop-none" id="mobile-menu"></nav>
        <nav id="desktop-menu">
            <ul id="menuDesktopList" class="menuDesktopList"></ul>
        </nav>
    </header>
    <main>
        <section class="heroGradient">
            <div class="flexCenter">
                <h1 class="column">
                    Charlas con profesionales<span>Mirá nuestras actividades</span>
                </h1>
            </div>
        </section>
        <section id="verContainer" class="verContainer columnAlignCenter"></section>
        <section class="sumate columnAlignCenter bg-primary">
            <div class="w-100 column">
                <h2 class="w-100 text-white">¡Sumate a la actividades de FUCA!</h2>
                <p class="text-white">
                    Actividades presenciales y virtuales: talleres, charlas y encuentros con profesionales.
                </p>
            </div>
            <a href="#" class="registrateParticipa secondaryButton">REGISTRATE Y PARTICIPÁ</a>
        </section>
        <section class="columnAlignCenter">
            <div>
                <h2 class="text-center">Tu donación salva vidas</h2>
                <p>Tu donación apoya a nuestros médicose investigadores </p>
            </div>
            <a href="#" class="primaryButton">DONÁ HOY</a>
        </section>
    </main>
    <!--footer-->
    <footer>
        <div class="bg-secondary py-15-px-1 m-py-175-px-15 lg-py-225-px-3 xl-py-3-px-5">
            <div class="logoRedesFooter">
                <img class="logoFooter" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
                <div class="containerRedesFooter my-15 py-075">
                    <div id="redesFooter" class="rowCenter ga-075"></div>
                </div>
            </div>
            <div class="footerMedio mt-15">
                <div class="donaHoyContainer column">
                    <p class="text-white">
                        En <span class="font-weight-bold">FUCA</span> contribuimos a reducir la mortalidad por cáncer a
                        través de la
                        educación médica y comunitaria, la investigación científica y la concientización para la
                        prevención y el
                        cuidado
                        de la salud.
                    </p>
                    <a href="#" class="w-80 primaryButton donaFucaFooter text-none my-15">
                        DONÁ HOY A FUCA
                    </a>
                </div>
                <div class="column ga-15 desktop-none">
                    <div id="menuFooterMobile" class="menuFooterMobile"></div>
                    <div class="column ga-15">
                        <div class="column ga-1">
                            <div class="titleUnderline">
                                <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
                                <span class="underlineFooter whiteUnderlineTitle"></span>
                            </div>
                            <div class="rowAlign ga-05">
                                <div class="iconDondeEstamos bgImgContain"></div>
                                <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
                            </div>
                        </div>
                        <div class="column ga-1">
                            <div class="titleUnderline">
                                <p class="text-white font-weight-bold">CONTACTATE</p>
                                <span class="underlineFooter whiteUnderlineTitle"></span>
                            </div>
                            <div id="contactateList" class="column ga-15"></div>
                        </div>
                        <div class="w-75 programasFleming rowCenter ga-075">
                            <p class="text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas
                                en:</p>
                            <img class="flemingMobile" src="/content/img/header-footer/logo-iaf.webp"
                                alt="Logo-Insituto-Alexander-Fleming" />
                        </div>
                    </div>
                </div>
                <div id="menuFooterDesktop" class="menuFooterDesktop"></div>
            </div>
            <div class="footerDesktopAbajo rowAlign">
                <div class="fucaDesarrolla rowAlign ga-075">
                    <p class="w-60 text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas en:
                    </p>
                    <img class="fleming w-20" src="/content/img/header-footer/logo-iaf.webp"
                        alt="Logo Insituto Alexander Fleming">
                </div>
                <div class="fucaDesarrollaDerecha">
                    <div class="column ga-1">
                        <div class="titleUnderline">
                            <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
                            <span class="underlineFooter whiteUnderlineTitle"></span>
                        </div>
                        <div class="rowAlign ga-05">
                            <div class="iconDondeEstamos bgImgContain"></div>
                            <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
                        </div>
                    </div>
                    <div class="column ga-1">
                        <div class="titleUnderline">
                            <p class="text-white font-weight-bold">CONTACTATE</p>
                            <span class="underlineFooter whiteUnderlineTitle"></span>
                        </div>
                        <div id="contactateListDesktop" class="contactateList column ga-15"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="derechos py-15-px-1">
            <p class="font-weight-bold text-center text-white">Fundación FUCA Copyright© 2024</p>
            <p class="font-weight-bold text-center text-white">Todos los derechos reservados</p>
        </div>
    </footer>
    <!--finbody-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/content/js/headerFooter.js"></script>
    <script src="/content/js/pages.js"></script>
    <script src="/content/js/charlasProfesionales.js"></script>
</body>

</html>