<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>
        Charlas de Profesionales
    </title>
    <meta name="description" content="Novedades." />
    <meta name="keywords" content="Novedades" />
    <!--head-->
    <link rel="stylesheet" href="/content/css/charlasProfesionales.css">
</head>

<body>
    <!--header-->
    <main>
        <section class="heroGradient">
            <div class="flexCenter">
                <h1 class="column">
                    Charlas con profesionales<span>Mirá nuestras actividades</span>
                </h1>
            </div>
        </section>
        <section id="verContainer" class="verContainer columnAlignCenter"></section>
        <section class="sumate columnAlignCenter bg-primary">
            <div class="w-100 column">
                <h2 class="w-100 text-white">¡Sumate a la actividades de FUCA!</h2>
                <p class="text-white">
                    Actividades presenciales y virtuales: talleres, charlas y encuentros con profesionales.
                </p>
            </div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdgbIv50_TFNLDtvzYBc-4U6tuYrHOQ5bJh_Ysg4IaUHtTAzQ/viewform" target="_blank" class="registrateParticipa secondaryButton">REGISTRATE Y PARTICIPÁ</a>
        </section>
        <section class="columnAlignCenter">
            <div>
                <h2 class="text-center">Tu donación salva vidas</h2>
                <p>Tu donación apoya a nuestros médicose investigadores </p>
            </div>
            <a href="/donaciones" class="primaryButton">DONÁ HOY</a>
        </section>
    </main>
    <!--footer-->
    <!--finbody-->
    <script src="/content/js/charlasProfesionales.js"></script>
</body>

</html>