<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>
        Informacion del Cancer
    </title>
    <meta name="description" content="Novedades." />
    <meta name="keywords" content="Novedades" />
    <!--head-->
    <link href="/content/img/favicon-fuca.svg" rel="shortcut icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/content/css/main.css">
    <meta property="og:title" content="FUCA - Fundación Argentina de Cáncer | Prevención y Diagnóstico del Cáncer">
    <meta property="og:description"
        content="En FUCA promovemos la prevención y el diagnóstico temprano del cáncer a través de la educación, la investigación y la asistencia médica. Descubre nuestros programas y cómo puedes participar para salvar vidas.">
    <meta property="og:url" content="https://fuca.org.ar/">
    <meta property="og:image" content="https://fuca.org.ar/content/images/logo-fuca.jpg">
    <meta property="og:image:alt" content="Logo de FUCA - Fundación para la Investigación y Lucha contra el Cáncer">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:site_name" content="FUCA">
    <base href="/">
    <link rel="stylesheet" href="/content/css/cio.css">
</head>

<body>
    <!--header-->
    <header class="bg-primary">
        <a href="/">
            <img class="logoHeader" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
        </a>
        <img class="hamburger desktop-none" id="menu-toggle" src="/content/img/header-footer/Hamburger.svg"
            alt="Menu Hamburguesa" />
        <nav class="column ga-15 py-15-px-1 desktop-none" id="mobile-menu"></nav>
        <nav id="desktop-menu">
            <ul id="menuDesktopList" class="menuDesktopList"></ul>
        </nav>
    </header>
    <main>
        <section class="heroGradient">
            <div class="flexCenter">
                <h1 class="column">Centro de Investigaciones Oncológicas (CIO)<span>Núcleo de Investigación en Salud
                        Unidad Asociada al CONICET</span></h1>
            </div>
        </section>
        <section class="cioContainer column">
            <div class="column">
                <h2 class="w-100 titleUnderline">
                    <span>¿Qué es el CIO?</span>
                    <span class="greenUnderlineTitle"></span>
                </h2>
                <div class="column">
                    <p>
                        La unidad de investigaciones de FUCA es el <span>Centro de Investigaciones Oncológicas</span>
                        (CIO) creado y dirigido por el <span>Dr. José Mordoh</span>, con el objeto de desarrollar la
                        traducción a la clínica de los resultados obtenidos en modelos experimentales, así como
                        proyectos de investigación básica destinados a la curación del cáncer.
                    </p>
                    <p>
                        <span>
                            La investigación está centrada en el sistema inmune y la inmunoterapia con relación a los
                            distintos tipos de cáncer.
                        </span>
                    </p>
                    <p>
                        Ha desarrollado una vacuna inmunoterapéutica contra el melanoma, que actualmente se está
                        investigando en un Ensayo clínico de Fase II-III. Es la primera vez que se realiza en el país un
                        avance científico de esta naturaleza.
                    </p>
                </div>
            </div>
            <div class="column">
                <h2 class="w-100 titleUnderline">
                    <span>Su estructura</span>
                    <span class="greenUnderlineTitle"></span>
                </h2>
                <div class="column">
                    <p>
                        Desde 1994, el CIO estuvo ubicado en instalaciones del Instituto Alexander Fleming. Como
                        consecuencia del constante desarrollo de nuevos proyectos de investigación, la incorporación de
                        mayor número de becarios e investigadores, así como del correspondiente equipamiento, se hizo
                        indispensable dotar al CIO de un nuevo espacio de trabajo. Es por eso, que en el 2020, nuestro
                        Centro de Investigaciones Oncológicas se mudó al segundo piso del edificio sito en la calle
                        Conesa 1003, CABA.
                    </p>
                    <p>
                        <span>
                            El funcionamiento de CIO en un centro médico posibilita la interacción entre la
                            investigación básica y la clínica, a través de los distintos departamentos.
                        </span>
                    </p>
                </div>
            </div>
        </section>
        <section class="estructuraCIO">
            <img src="/content/img/cio/estructura-cio.png" alt="Estructura CIO" class="w-100">
        </section>
        <section class="proyectos columnAlignCenter bg-gris">
            <h2 class="w-100 titleUnderline">
                <span>Proyectos de investigación</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div id="proyectosContainer" class="proyectosContainer"></div>
            <a href="#" class="primaryButton">APOYA EL DESARROLLO DE NUEVOS TRATAMIENTOS</a>
        </section>
        <section class="proyectoNuevoCio">
            // IFRAME
        </section>
        <section class="actividad column">
            <h2 class="w-100 titleUnderline">
                <span>Actividad académica</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div class="column">
                <h3>Tesis de doctorado</h3>
                <div id="aniosTesis" class="pillContainer"></div>
                <div id="bodyTesis" class="bodyTesis column"></div>
            </div>
            <div class="column">
                <h3>Tesinas</h3>
                <div id="aniosTesinas" class="pillContainer"></div>
                <div id="bodyTesinas" class="bodyTesinas column"></div>
            </div>
        </section>
        <section class="bg-gris">
            <h2 class="w-100 titleUnderline">
                <span>Publicaciones científicas</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div></div>
            <div></div>
        </section>
        <section>
            <h2 class="w-100 titleUnderline">
                <span>Premios recibidos</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div></div>
            <div></div>
        </section>
        <section class="sectionApoya columnAlignCenter">
            <h2 class="text-white">Apoyá la investigación en cáncer</h2>
            <p class="text-center text-white">Tu donación contribuye al desarrollo de nuevos tratamientos</p>
            <a href="#" class="secondaryButton">DONÁ HOY</a>
        </section>
    </main>
    <!--footer-->
    <footer>
        <div class="bg-secondary py-15-px-1 m-py-175-px-15 lg-py-225-px-3 xl-py-3-px-5">
            <div class="logoRedesFooter">
                <img class="logoFooter" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
                <div class="containerRedesFooter my-15 py-075">
                    <div id="redesFooter" class="rowCenter ga-075"></div>
                </div>
            </div>
            <div class="footerMedio mt-15">
                <div class="donaHoyContainer column">
                    <p class="text-white">
                        En <span class="font-weight-bold">FUCA</span> contribuimos a reducir la mortalidad por cáncer a
                        través de la
                        educación médica y comunitaria, la investigación científica y la concientización para la
                        prevención y el
                        cuidado
                        de la salud.
                    </p>
                    <a href="#" class="w-80 primaryButton donaFucaFooter text-none my-15">
                        DONÁ HOY A FUCA
                    </a>
                </div>
                <div class="column ga-15 desktop-none">
                    <div id="menuFooterMobile" class="menuFooterMobile"></div>
                    <div class="column ga-15">
                        <div class="column ga-1">
                            <div class="titleUnderline">
                                <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
                                <span class="underlineFooter whiteUnderlineTitle"></span>
                            </div>
                            <div class="rowAlign ga-05">
                                <div class="iconDondeEstamos bgImgContain"></div>
                                <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
                            </div>
                        </div>
                        <div class="column ga-1">
                            <div class="titleUnderline">
                                <p class="text-white font-weight-bold">CONTACTATE</p>
                                <span class="underlineFooter whiteUnderlineTitle"></span>
                            </div>
                            <div id="contactateList" class="column ga-15"></div>
                        </div>
                        <div class="w-75 programasFleming rowCenter ga-075">
                            <p class="text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas
                                en:</p>
                            <img class="flemingMobile" src="/content/img/header-footer/logo-iaf.webp"
                                alt="Logo-Insituto-Alexander-Fleming" />
                        </div>
                    </div>
                </div>
                <div id="menuFooterDesktop" class="menuFooterDesktop"></div>
            </div>
            <div class="footerDesktopAbajo rowAlign">
                <div class="fucaDesarrolla rowAlign ga-075">
                    <p class="w-60 text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas en:
                    </p>
                    <img class="fleming w-20" src="/content/img/header-footer/logo-iaf.webp"
                        alt="Logo Insituto Alexander Fleming">
                </div>
                <div class="fucaDesarrollaDerecha">
                    <div class="column ga-1">
                        <div class="titleUnderline">
                            <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
                            <span class="underlineFooter whiteUnderlineTitle"></span>
                        </div>
                        <div class="rowAlign ga-05">
                            <div class="iconDondeEstamos bgImgContain"></div>
                            <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
                        </div>
                    </div>
                    <div class="column ga-1">
                        <div class="titleUnderline">
                            <p class="text-white font-weight-bold">CONTACTATE</p>
                            <span class="underlineFooter whiteUnderlineTitle"></span>
                        </div>
                        <div id="contactateListDesktop" class="contactateList column ga-15"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="derechos py-15-px-1">
            <p class="font-weight-bold text-center text-white">Fundación FUCA Copyright© 2024</p>
            <p class="font-weight-bold text-center text-white">Todos los derechos reservados</p>
        </div>
    </footer>
    <!--finbody-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/content/js/headerFooter.js"></script>
    <script src="/content/js/pages.js"></script>
    <script src="/content/js/cio.js"></script>
</body>

</html>