<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>Contacto FUCA - Fundación para la Investigación y Lucha Contra el Cáncer</title>
    <meta name="description"
        content="Contáctanos en FUCA para obtener información sobre nuestras iniciativas contra el cáncer. Escríbenos para colaborar, ser voluntario o realizar consultas sobre nuestros programas educativos y de investigación.">
    <meta name="keywords"
        content="contacto FUCA, Fundación Cáncer Argentina, información FUCA, voluntariado FUCA, colaboración contra el cáncer, prevención e investigación oncológica">
    <!--head-->
    <link rel="stylesheet" href="/content/css/contacto.css">
</head>

<body>
    <!--header-->
    <main>
        <section class="heroGradient">
            <div class="flexCenter">
                <h1 class="column">
                    Comunicate con nosotros
                </h1>
            </div>
        </section>
        <section class="contacto column">
            <div class="column infosContainer">
                <div class="info">
                    <p class="font-weight-bold">Oficina de administración</p>
                    <div class="column">
                        <p>Lunes a viernes de 10 a 17hs.</p>
                        <p>Conesa 1079, timbre 3, (C1426AQU) C.A.B.A.</p>
                        <p>(011) 4552-0235 / (011) 2088-3689 / (011) 3221-8900 int. 8020</p>
                        <p>Whatsapp: 15-4047-5040</p>
                    </div>
                    <div class="column">
                        <p><span class="font-weight-bold">Administración general:</span> <a
                                href="mailto:administracion@fuca.org.ar">administracion@fuca.org.ar</a></p>
                        <p><span class="font-weight-bold">Donaciones mensuales:</span> <a
                                href="mailto:donaciones@fuca.org.ar">donaciones@fuca.org.ar</a></p>
                        <p><span class="font-weight-bold">Colaboraciones y auspicios:</span> <a
                                href="mailto:colaboracion@fuca.org.ar">colaboracion@fuca.org.ar</a></p>
                        <p><span class="font-weight-bold">Comunicación y prensa:</span> <a
                                href="mailto:info@fuca.org.ar">info@fuca.org.ar</a></p>
                        <p><span class="font-weight-bold">Espacio FUCA y voluntariado:</span> <a
                                href="mailto:voluntarios@fuca.org.ar ">voluntarios@fuca.org.ar </a></p>
                    </div>
                </div>
                <div class="info">
                    <p class="font-weight-bold">Espacio FUCA</p>
                    <div class="column">
                        <p>Lunes a viernes de 10 a 17hs.</p>
                        <p>Av. Crámer 1180, entrada, (C1426ANZ) C.A.B.A.</p>
                        <p>(011) 4555-3555</p>
                        <a href="mailto:voluntarios@fuca.org.ar">voluntarios@fuca.org.ar</a>
                    </div>
                </div>
                <div class="info">
                    <p class="font-weight-bold">Biblioteca FUCA</p>
                    <div class="column">
                        <p>Lunes y miércoles de 8 a 13hs.</p>
                        <p>Martes, jueves y viernes de 8 a 13hs. y de 14 a 17hs.</p>
                        <p>Av. Crámer 1180, 2o Piso, (C1426ANZ) C.A.B.A.</p>
                        <p>(011) 3221-8900 int. 1295</p>
                        <a href="mailto:bibliotecafuca@alexanderfleming.org">bibliotecafuca@alexanderfleming.org</a>
                    </div>
                </div>
                <div class="info">
                    <p class="font-weight-bold">Centro de Investigaciones Oncológicas (CIO)</p>
                    <div class="column">
                        <p>Lunes a viernes de 10 a 17hs.</p>
                        <p>Conesa 1003, (C1426AQU) C.A.B.A.(011) 3221-8900 int. 8215</p>
                        <a href="mailto:administracion.cio@fuca.org.ar">administracion.cio@fuca.org.ar</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="formContainer bg-gris">
                    <form id="contactForm" class="contactForm columnAlignCenter">
                        <div class="column">
                            <p class="font-weight-bold">Envianos tu mensaje</p>
                            <div class="column">
                                <div class="column">
                                    <label for="nombre">Nombre</label>
                                    <input id="nombre" placeholder="Ingrese su nombre">
                                    <p id="nombreError" class="error-message"></p>
                                </div>
                                <div class="column">
                                    <label for="mail">Correo electrónico</label>
                                    <input id="mail" placeholder="Ingrese su correo electrónico">
                                    <p id="mailError" class="error-message"></p>
                                </div>
                            </div>
                            <div class="column">
                                <label for="mensaje">Mensaje</label>
                                <textarea id="mensaje" placeholder="Escriba su mensaje..."></textarea>
                                <p id="mensajeError" class="error-message"></p>
                            </div>
                        </div>
                        <button type="submit" class="btnActionModal">Enviar</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <!--footer-->
    <!--finbody-->
</body>

</html>