<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Cursos de Oncología FUCA - Formación para Profesionales de la Salud</title>
  <meta name="description"
      content="Accede a los cursos de FUCA, diseñados para profesionales de la salud que buscan especializarse en oncología. Aprende de expertos y mejora tus conocimientos en prevención y tratamiento del cáncer.">
  <meta name="keywords"
      content="cursos FUCA, oncología, formación en oncología, educación médica, prevención del cáncer, tratamientos oncológicos">
  <!--head-->
  <link rel="stylesheet" href="/content/css/cursos.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Cursos y capacitaciones<span>para profesionales de la salud</span></h1>
      </div>
    </section>
    <section class="campusCurso columnAlignCenter">
      <div class="campus column">
        <img class="w-100" src="/content/img/cursos/campus.webp" alt="Campus Virtual Fuca">
        <div class="column">
          <div class="headerCampus column">
            <h2>Campus</h2>
            <p>Campus virtual de capacitación para profesionales especializados en oncología.</p>
          </div>
          <a class="primaryButton ingresarCampus" href="https://fucacampus.org/login/index.php" target="_blank">INGRESAR AL CAMPUS</a>
        </div>
      </div>
      <a class="curso column" target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSf8NQ8c1r9TDOLCEKKnD0GiHJ9l-mG3ewndh3LYCM8RbrKO5w/viewform">
        <img class="w-100" src="/content/img/cursos/curso_oncologia_molecular.webp" alt="Curso Oncologia Molecular">
        <div class="column">
          <h2>Curso de Oncología Molecular</h2>
          <p>
            El conocimiento sobre las bases moleculares de la enfermedad oncológica es fundamental para la aplicación de
            las nuevas estrategias terapéuticas en una práctica clínica de excelencia. Está diseñado para que en cada
            clase se presente un contrapunto básico y clínico con un enfoque traslacional.
          </p>
        </div>
      </a>
    </section>
    <section class="acompanan column">
      <h2 class="w-100 titleUnderline">
        Acompañan
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div class="swiperAcompananCursos">
        <div id="acompananCursos" class="swiper-wrapper mt-15"></div>
      </div>
    </section>
    <section class="tuCrecimiento columnAlignCenter">
      <div class="column">
        <h2>Tu crecimiento profesional, nuestro compromiso</h2>
        <p>
          Unite a nuestra biblioteca biomédica. Como miembro, tendrás acceso a material científico de relevancia y
          recursos de información para investigadores y profesionales médicos.
        </p>
      </div>
      <button onclick="createModal('biblioteca')" class="secondaryButton solicitarMembresia">SOLICITAR MEMBRESÍA</button>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script type="module" src="/content/js/cursos.js"></script>
</body>

</html>