<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link href="/content/img/favicon-fuca.svg" rel="shortcut icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/donaciones.css">
</head>

<body>
  <!--header-->
  <header class="bg-primary">
    <img class="logoHeader" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
    <img class="hamburger desktop-none" id="menu-toggle" src="/content/img/header-footer/Hamburger.svg"
      alt="Menu Hamburguesa" />
    <nav class="column ga-15 py-15-px-1 desktop-none" id="mobile-menu"></nav>
    <nav id="desktop-menu">
      <ul id="menuDesktopList" class="menuDesktopList"></ul>
    </nav>
  </header>
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Tu donación salva vidas <span>Ayudá a nuestros médicos e investigadores</span></h1>
      </div>
    </section>
    <section>
      IFRAME
    </section>
    <section class="recibos columnAlignCenter bg-gris">
      <p>Los donantes de FUCA pueden realizar deducciones impositivas porque se encuentra enmarcada de acuerdo a lo
        dispuesto por la Ley de Impuesto a las Ganancias.</p>
      <div>
        <p>Solicitá tu recibo de donación
          enviándonos tu CUIT.</p>
        <p>Si tenés consultas sobre tu donación comunicate al mail <a href="#"
            class="mailDonaciones">donaciones@fuca.org.ar</a>
          o por Whatsapp: +54 9 11-4047-5040</p>
      </div>
    </section>
    <section class="otrasFormas column">
      <h2 class="titleUnderline">
        Otras formas de donar
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div>
        <p><span class="font-weight-bold">Razón Social:</span> Fundación Cáncer - FUCA</p>
        <p><span class="font-weight-bold">CUIT:</span> 30-67657917-2</p>
      </div>
      <div class="formas">
        <article class="forma">
          <div class="bgImgContain formaIcon banco"></div>
          <div>
            <h3>Por depósito o transferencia bancaria
              en Santander</h3>
            <ul>
              <li>Cta. Cte. No: 792-000361/0</li>
              <li>CBU: 0720792320000000036104 o Alias: Yo.dono.a.FUCA</li>
              <li>Envianos el comprobante por mail a <a href="#">administracion@fuca.org.ar</a></li>
            </ul>
          </div>
        </article>
        <article class="forma">
          <div class="bgImgContain formaIcon ayudar"></div>
          <div>
            <h3>Ayudar es una fiesta</h3>
            <p>Te proponemos que en tu próxima fiesta, sugieras a tus invitados realizar una donación a FUCA como
              regalo. Desde la Fundación te brindaremos los materiales necesarios para hacerlo posible y te entregaremos
              un diploma en agradecimiento a todos tus allegados que lo hicieron posible. <a href="#">Ver más</a></p>
          </div>
        </article>
        <article class="forma">
          <div class="bgImgContain formaIcon cheque"></div>
          <div>
            <h3>Por cheque a nombre de
              Fundación Cáncer - FUCA</h3>
            <ul>
              <li>Emitinos un cheque a nombre de Fundación Cáncer - FUCA.</li>
              <li>Envialo a Conesa 1079, timbre 3, (C1426AQU) CABA.</li>
            </ul>
          </div>
        </article>
        <article class="forma">
          <div class="bgImgContain formaIcon homeBanking"></div>
          <div>
            <h3>A través de Pago Mis Cuentas</h3>
            <ul>
              <li>Desde tu Home Banking o ingresando a <a href="#">https://pagomiscuentas.com/</a></li>
              <li>Buscá a “FUCA Fundación Cáncer” (donaciones) > Realizá el pago</li>
              <li>Envianos el comprobante por mail a <a href="#">administracion@fuca.org.ar</a></li>
            </ul>
          </div>
        </article>
        <article class="forma">
          <div class="bgImgContain formaIcon mercadoPago"></div>
          <div>
            <h3>Con la app de Mercado Pago</h3>
            <ul>
              <li>Descargá la aplicación en tu celular.</li>
              <li>Escaneá el <button id="codigoQRBtn">código QR</button> > Ingresá el monto a donar > Realizá el pago
              </li>
              <li>Envianos el comprobante por mail a <a href="#">administracion@fuca.org.ar</a></li>
            </ul>
          </div>
        </article>
        <div id="qrModal" class="qrModal">
          <div class="contenidoModalQr columnAlignCenter">
            <img src="/content/img/donaciones/QR-Fuca.png" alt="QR Fuca" class="qrImagen">
            <button id="cerrarQR" class="cerrarQR">CERRAR</button>
          </div>
        </div>
      </div>
    </section>
    <section class="porqueDonar column bg-gris">
      <div class="column">
        <img src="/content/img/donaciones/Porque-Donar-Fuca.png" alt="Porque Donar Fuca">
        <div>
          <h2 class="titleUnderline">
            ¿Por qué donar a FUCA?
            <span class="greenUnderlineTitle"></span>
          </h2>
          <ul>
            <li> Porque otorgamos becas a médicos para que se formen en oncología, como profesionales de primer nivel.
            </li>
            <li>Porque investigamos para avanzar con mejores los tratamientos para el cáncer.</li>
            <li>Porque trabajamos para la prevención del cáncer a través de charlas, talleres, eventos y campañas de
              detección precoz.</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <img src="/content/img/donaciones/Como-Colaborar-Fuca.png" alt="Como Colaborar Fuca">
        <div>
          <div>
            <h2 class="titleUnderline">
              ¿Si no puedo colaborar con dinero?
              <span class="greenUnderlineTitle"></span>
            </h2>
            <p>Tu apoyo, tu aporte, tus ideas, tu compromiso y tu involucramiento es fundamental:</p>
          </div>
          <ul>
            <li> Porque otorgamos becas a médicos para que se formen en oncología, como profesionales de primer nivel.
            </li>
            <li>Porque investigamos para avanzar con mejores los tratamientos para el cáncer.</li>
            <li>Porque trabajamos para la prevención del cáncer a través de charlas, talleres, eventos y campañas de
              detección precoz.</li>
          </ul>
        </div>
      </div>
      <div class="blank"></div>
    </section>
  </main>
  <!--footer-->
  <footer>
    <div class="bg-secondary py-15-px-1 m-py-175-px-15 lg-py-225-px-3 xl-py-3-px-5">
      <div class="logoRedesFooter">
        <img class="logoFooter" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
        <div class="containerRedesFooter my-15 py-075">
          <div id="redesFooter" class="rowCenter ga-075"></div>
        </div>
      </div>
      <div class="footerMedio mt-15">
        <div class="donaHoyContainer column">
          <p class="text-white">
            En <span class="font-weight-bold">FUCA</span> contribuimos a reducir la mortalidad por cáncer a través de la
            educación médica y comunitaria, la investigación científica y la concientización para la prevención y el
            cuidado
            de la salud.
          </p>
          <a href="#" class="w-80 primaryButton donaFucaFooter text-none my-15">
            DONÁ HOY A FUCA
          </a>
        </div>
        <div class="column ga-15 desktop-none">
          <div id="menuFooterMobile" class="menuFooterMobile"></div>
          <div class="column ga-15">
            <div class="column ga-1">
              <div class="titleUnderline">
                <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
                <span class="underlineFooter whiteUnderlineTitle"></span>
              </div>
              <div class="rowAlign ga-05">
                <div class="iconDondeEstamos bgImgContain"></div>
                <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
              </div>
            </div>
            <div class="column ga-1">
              <div class="titleUnderline">
                <p class="text-white font-weight-bold">CONTACTATE</p>
                <span class="underlineFooter whiteUnderlineTitle"></span>
              </div>
              <div id="contactateList" class="column ga-15"></div>
            </div>
            <div class="w-75 programasFleming rowCenter ga-075">
              <p class="text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas en:</p>
              <img class="flemingMobile" src="/content/img/header-footer/logo-iaf.webp"
                alt="Logo-Insituto-Alexander-Fleming" />
            </div>
          </div>
        </div>
        <div id="menuFooterDesktop" class="menuFooterDesktop"></div>
      </div>
      <div class="footerDesktopAbajo rowAlign">
        <div class="fucaDesarrolla rowAlign ga-075">
          <p class="w-60 text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas en:</p>
          <img class="fleming w-20" src="/content/img/header-footer/logo-iaf.webp"
            alt="Logo Insituto Alexander Fleming">
        </div>
        <div class="fucaDesarrollaDerecha">
          <div class="column ga-1">
            <div class="titleUnderline">
              <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
              <span class="underlineFooter whiteUnderlineTitle"></span>
            </div>
            <div class="rowAlign ga-05">
              <div class="iconDondeEstamos bgImgContain"></div>
              <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
            </div>
          </div>
          <div class="column ga-1">
            <div class="titleUnderline">
              <p class="text-white font-weight-bold">CONTACTATE</p>
              <span class="underlineFooter whiteUnderlineTitle"></span>
            </div>
            <div id="contactateListDesktop" class="contactateList column ga-15"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="derechos py-15-px-1">
      <p class="font-weight-bold text-center text-white">Fundación FUCA Copyright© 2024</p>
      <p class="font-weight-bold text-center text-white">Todos los derechos reservados</p>
    </div>
  </footer>
  <!--finbody-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/content/js/headerFooter.js"></script>
  <script src="/content/js/donaciones.js"></script>
</body>

</html>