<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>
      Donaciones a FUCA - Ayuda a Prevenir y Combatir el Cáncer en Argentina
    </title>
    <meta name="author" content="Benteveo" />
    <meta
      name="description"
      content="Con tu donación a FUCA ayudas a la prevención, investigación y tratamiento del cáncer en Argentina. Colabora con becas para médicos y programas educativos. Contribuye a salvar vidas y mejorar la atención oncológica."
    />
    <meta
      name="keywords"
      content="donaciones FUCA, donar para el cáncer, prevención del cáncer, tratamiento oncológico, becas médicos oncología, investigación cáncer, ayuda cáncer Argentina, colaborar con FUCA, Fundación Cáncer Argentina"
    />

    <!--head-->
    <link rel="stylesheet" href="/content/css/donaciones.css" />
  </head>

  <body>
    <!--header-->
    <main>
      <section class="heroGradient">
        <div class="flexCenter">
          <h1 class="column">
            Tu donación salva vidas
            <span
              >Doná hoy y colaborá con nuestros médicos e investigadores para
              salvar vidas</span
            >
          </h1>
        </div>
      </section>
      <section>
        <iframe
          id="inlineFrameExample"
          class="iframeDonaciones"
          title="Apoya a FUCA con tu donación"
          width="100%"
          height="680px"
          style="background-color: transparent;"
          src="https://donaronline.org/fundacion-fuca/apoya-a-fuca-con-tu-donacion-argentina"
        >
        </iframe>
      </section>
      <section class="recibos columnAlignCenter bg-gris">
        <p>
          Los donantes de FUCA pueden realizar deducciones impositivas porque se
          encuentra enmarcada de acuerdo a lo dispuesto por la Ley de Impuesto a
          las Ganancias.
        </p>
        <div>
          <p>Solicitá tu recibo de donación enviándonos tu CUIT.</p>
          <p>
            Si tenés consultas sobre tu donación comunicate al mail
            <a href="mailto:donaciones@fuca.org.ar" class="mailDonaciones"
              >donaciones@fuca.org.ar</a
            >
            o por Whatsapp:
            <a
              href="https://wa.link/0d0qgg"
              target="_blank"
              class="mailDonaciones"
              >+54 9 11-4047-5040</a
            >
          </p>
        </div>
      </section>
      <section class="otrasFormas column">
        <h2 class="titleUnderline">
          Otras formas de donar
          <span class="greenUnderlineTitle"></span>
        </h2>
        <div>
          <p>
            <span class="font-weight-bold">Razón Social:</span> Fundación Cáncer
            - FUCA
          </p>
          <p><span class="font-weight-bold">CUIT:</span> 30-67657917-2</p>
        </div>
        <div class="formas">
          <article class="forma">
            <div class="bgImgContain formaIcon banco"></div>
            <div>
              <h3>Por depósito o transferencia bancaria en Santander</h3>
              <ul>
                <li>Cta. Cte. No: 792-000361/0</li>
                <li>CBU: 0720792320000000036104 o Alias: Yo.dono.a.FUCA</li>
                <li>
                  Envianos el comprobante por mail a
                  <a href="mailto:administracion@fuca.org.ar"
                    >administracion@fuca.org.ar</a
                  >
                </li>
              </ul>
            </div>
          </article>
          <article class="forma">
            <div class="bgImgContain formaIcon ayudar"></div>
            <div>
              <h3>Ayudar es una fiesta</h3>
              <p>
                Te proponemos que en tu próxima fiesta, sugieras a tus invitados
                realizar una donación a FUCA como regalo. Desde la Fundación te
                brindaremos los materiales necesarios para hacerlo posible y te
                entregaremos un diploma en agradecimiento a todos tus allegados
                que lo hicieron posible. <a href="#" class="d-none">Ver más</a>
              </p>
            </div>
          </article>
          <article class="forma">
            <div class="bgImgContain formaIcon cheque"></div>
            <div>
              <h3>Por cheque a nombre de Fundación Cáncer - FUCA</h3>
              <ul>
                <li>Emitinos un cheque a nombre de Fundación Cáncer - FUCA.</li>
                <li>Envialo a Conesa 1079, timbre 3, (C1426AQU) CABA.</li>
              </ul>
            </div>
          </article>
          <article class="forma">
            <div class="bgImgContain formaIcon homeBanking"></div>
            <div>
              <h3>A través de Pago Mis Cuentas</h3>
              <ul>
                <li>
                  Desde tu Home Banking o ingresando a
                  <a href="https://pagomiscuentas.com/">pagomiscuentas.com</a>
                </li>
                <li>
                  Buscá a “FUCA Fundación Cáncer” (donaciones) > Realizá el pago
                </li>
                <li>
                  Envianos el comprobante por mail a
                  <a href="mailto:administracion@fuca.org.ar"
                    >administracion@fuca.org.ar</a
                  >
                </li>
              </ul>
            </div>
          </article>
          <article class="forma">
            <div class="bgImgContain formaIcon mercadoPago"></div>
            <div>
              <h3>Con la app de Mercado Pago</h3>
              <ul>
                <li>Descargá la aplicación en tu celular.</li>
                <li>
                  Escaneá el <button id="codigoQRBtn">código QR</button> >
                  Ingresá el monto a donar > Realizá el pago
                </li>
                <li>
                  Envianos el comprobante por mail a
                  <a href="#">administracion@fuca.org.ar</a>
                </li>
              </ul>
            </div>
          </article>
          <div id="qrModal" class="qrModal">
            <div class="contenidoModalQr columnAlignCenter">
              <img
                src="/content/img/donaciones/QR-Fuca.png"
                alt="QR Fuca"
                class="qrImagen"
              />
              <button id="cerrarQR" class="cerrarQR">CERRAR</button>
            </div>
          </div>
        </div>
      </section>
      <section class="porqueDonar column bg-gris">
        <div class="column">
          <img
            src="/content/img/donaciones/Porque-Donar-Fuca.webp"
            alt="Porque Donar Fuca"
          />
          <div>
            <h2 class="titleUnderline">
              ¿Por qué donar a FUCA?
              <span class="greenUnderlineTitle"></span>
            </h2>
            <ul>
              <li>
                Porque otorgamos becas a médicos para que se formen en
                oncología, como profesionales de primer nivel.
              </li>
              <li>
                Porque investigamos para avanzar con mejores los tratamientos
                para el cáncer.
              </li>
              <li>
                Porque trabajamos para la prevención del cáncer a través de
                charlas, talleres, eventos y campañas de detección precoz.
              </li>
            </ul>
          </div>
        </div>
        <div class="column">
          <img
            src="/content/img/donaciones/Como-Colaborar-Fuca.webp"
            alt="Como Colaborar Fuca"
          />
          <div>
            <div>
              <h2 class="titleUnderline">
                ¿Si no puedo colaborar con dinero?
                <span class="greenUnderlineTitle"></span>
              </h2>
              <p>
                Tu apoyo, tu aporte, tus ideas, tu compromiso y tu
                involucramiento es fundamental:
              </p>
            </div>
            <ul>
              <li>
                Porque otorgamos becas a médicos para que se formen en
                oncología, como profesionales de primer nivel.
              </li>
              <li>
                Porque investigamos para avanzar con mejores los tratamientos
                para el cáncer.
              </li>
              <li>
                Porque trabajamos para la prevención del cáncer a través de
                charlas, talleres, eventos y campañas de detección precoz.
              </li>
            </ul>
          </div>
        </div>
        <div class="blank"></div>
      </section>
    </main>
    <!--footer-->
    <!--finbody-->
    <script src="/content/js/donaciones.js"></script>
  </body>
</html>
