<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link rel="stylesheet" href="/content/css/educacionMedica.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Educación Médica<span>en Oncología</span></h1>
      </div>
    </section>
    <section class="introEducacion columnAlignCenter">
      <p>
        La formación médica de excelencia con los más altos estándares científicos y médicos en Oncología es uno de
        nuestros objetivos fundamentales de FUCA. Nuestros ex-becarios se destacan en las diversas especialidades de la
        Oncología y se desempeñan en instituciones públicas y privadas de todo el país.
      </p>
      <p>
        Este programa se desarrolla en el Instituto Alexander Fleming (I.A.F.), afiliado a la Facultad de Medicina de la
        Universidad de Buenos Aires y primera institución privada de alta complejidad de América Latina dedicada a la
        prevención, diagnóstico y tratamiento integral de pacientes con cáncer.
      </p>
      <p>
        Dentro del marco académico, los residentes y fellows asisten a clases diarias a cargo de especialistas, ateneos,
        tienen acceso al material de la biblioteca FUCA-Fleming, intervienen en trabajos de investigación y en
        discusiones sobre casos de pacientes en comités. Perciben una beca otorgada por FUCA, por cuanto la dedicación
        es a tiempo completo.
      </p>
    </section>
    <section class="medicosBecarios columnAlignCenter">
      <img class="w-100" src="/content/img/educacionMedica/Medicos-Becarios.png" alt="Medicos becarios">
      <div class="column">
        <p class="text-white">
          FUCA apoya económicamente otros aspectos de la formación tales como la participación en congresos, el ASCO
          Medical Oncology In-Training Exam y las rotaciones en el exterior. La tarea docente es realizada ad-honorem
          por los especialistas del I.A.F. ex-becarios de FUCA.
        </p>
        <p class="text-white">
          El período lectivo inicia el 1 de junio y finaliza el 30 de mayo de cada año.
        </p>
        <p class="text-white">
          El programa comprende: la Carrera de Especialista en Oncología Clínica de la Universidad de Buenos Aires,
          integrada por nueve residentes y uno o dos concurrentes, un Fellowship en Mastología y otro Fellowship en
          Oncohematología, ambos con una vacante.
        </p>
        <p class="text-white font-weight-bold">
          Nuestros médicos becarios colaboran en los proyectos de concientización y educación a la comunidad.
        </p>
      </div>
    </section>
    <section class="formacionesExcelencia columnAlignCenter">
      <h2 class="w-100 titleUnderline">
        Formaciones de excelencia
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div id="formacionesContainer" class="w-100 formacionesContainer columnAlignCenter"></div>
    </section>
    <section class="apoyaEducacion columnAlignCenter">
      <div class="columnAlignCenter">
        <h2>Apoyá la educación médica</h2>
        <p class="text-center">
          Tu donación contribuye al fondo de becas
          para la especialización en oncología.
        </p>
      </div>
      <a href="#" class="primaryButton">DONA HOY</a>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/educacionMedica.js"></script>
</body>

</html>