<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link href="/content/img/favicon-fuca.svg" rel="shortcut icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/content/css/main.css">
  <link rel="stylesheet" href="/content/css/educacionMedica.css">
</head>

<body>
  <header class="bg-primary">
    <img class="logoHeader" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
    <img class="hamburger desktop-none" id="menu-toggle" src="/content/img/header-footer/Hamburger.svg"
      alt="Menu Hamburguesa" />
    <nav class="column ga-15 py-15-px-1 desktop-none" id="mobile-menu"></nav>
    <nav id="desktop-menu">
      <ul id="menuDesktopList" class="menuDesktopList"></ul>
    </nav>
  </header>
  <!--header-->
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Educación Médica<span>en Oncología</span></h1>
      </div>
    </section>
    <section class="introEducacion">
      <p>
        La formación médica de excelencia con los más altos estándares científicos y médicos en Oncología es uno de
        nuestros objetivos fundamentales de FUCA. Nuestros ex-becarios se destacan en las diversas especialidades de la
        Oncología y se desempeñan en instituciones públicas y privadas de todo el país.
      </p>
      <p>
        Este programa se desarrolla en el Instituto Alexander Fleming (I.A.F.), afiliado a la Facultad de Medicina de la
        Universidad de Buenos Aires y primera institución privada de alta complejidad de América Latina dedicada a la
        prevención, diagnóstico y tratamiento integral de pacientes con cáncer.
      </p>
      <p>
        Dentro del marco académico, los residentes y fellows asisten a clases diarias a cargo de especialistas, ateneos,
        tienen acceso al material de la biblioteca FUCA-Fleming, intervienen en trabajos de investigación y en
        discusiones sobre casos de pacientes en comités. Perciben una beca otorgada por FUCA, por cuanto la dedicación
        es a tiempo completo.
      </p>
    </section>
    <section class="medicosBecarios columnAlignCenter">
      <img src="/content/img/educacionMedica/Medicos-Becarios.png" alt="Medicos becarios">
      <div class="column">
        <p>
          FUCA apoya económicamente otros aspectos de la formación tales como la participación en congresos, el ASCO
          Medical Oncology In-Training Exam y las rotaciones en el exterior. La tarea docente es realizada ad-honorem
          por los especialistas del I.A.F. ex-becarios de FUCA.
        </p>
        <p>
          El período lectivo inicia el 1 de junio y finaliza el 30 de mayo de cada año.
        </p>
        <p>
          El programa comprende: la Carrera de Especialista en Oncología Clínica de la Universidad de Buenos Aires,
          integrada por nueve residentes y uno o dos concurrentes, un Fellowship en Mastología y otro Fellowship en
          Oncohematología, ambos con una vacante.
        </p>
        <p class="font-weight-bold">
          Nuestros médicos becarios colaboran en los proyectos de concientización y educación a la comunidad.
        </p>
      </div>
    </section>
    <section class="lineasAccion columnAlignCenter">
      <h2 class="w-100 titleUnderline">
        Formaciones de excelencia
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div id="formacionesContainer" class="w-100 formacionesContainer columnAlignCenter"></div>
    </section>
    <section class="apoyaEducacion">
      <h2>Apoyá la educación médica</h2>
      <p>
        Tu donación contribuye al fondo de becas
        para la especialización en oncología.
      </p>
      <a href="#" class="primaryButton">DONA HOY</a>
    </section>
  </main>
  <!--footer-->
  <footer>
    <div class="bg-secondary py-15-px-1 m-py-175-px-15 lg-py-225-px-3 xl-py-3-px-5">
      <div class="logoRedesFooter">
        <img class="logoFooter" src="/content/img/header-footer/logo-fuca.svg" alt="Logo Fuca" />
        <div class="containerRedesFooter my-15 py-075">
          <div id="redesFooter" class="rowCenter ga-075"></div>
        </div>
      </div>
      <div class="footerMedio mt-15">
        <div class="donaHoyContainer column">
          <p class="text-white">
            En <span class="font-weight-bold">FUCA</span> contribuimos a reducir la mortalidad por cáncer a través de la
            educación médica y comunitaria, la investigación científica y la concientización para la prevención y el
            cuidado
            de la salud.
          </p>
          <a href="#" class="w-80 primaryButton donaFucaFooter text-none my-15">
            DONÁ HOY A FUCA
          </a>
        </div>
        <div class="column ga-15 desktop-none">
          <div id="menuFooterMobile" class="menuFooterMobile"></div>
          <div class="column ga-15">
            <div class="column ga-1">
              <div class="titleUnderline">
                <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
                <span class="underlineFooter whiteUnderlineTitle"></span>
              </div>
              <div class="rowAlign ga-05">
                <div class="iconDondeEstamos bgImgContain"></div>
                <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
              </div>
            </div>
            <div class="column ga-1">
              <div class="titleUnderline">
                <p class="text-white font-weight-bold">CONTACTATE</p>
                <span class="underlineFooter whiteUnderlineTitle"></span>
              </div>
              <div id="contactateList" class="column ga-15"></div>
            </div>
            <div class="w-75 programasFleming rowCenter ga-075">
              <p class="text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas en:</p>
              <img class="flemingMobile" src="/content/img/header-footer/logo-iaf.webp"
                alt="Logo-Insituto-Alexander-Fleming" />
            </div>
          </div>
        </div>
        <div id="menuFooterDesktop" class="menuFooterDesktop"></div>
      </div>
      <div class="footerDesktopAbajo rowAlign">
        <div class="fucaDesarrolla rowAlign ga-075">
          <p class="w-60 text-white"><span class="font-weight-bold">FUCA</span> desarrolla sus programas en:</p>
          <img class="fleming w-20" src="/content/img/header-footer/logo-iaf.webp"
            alt="Logo Insituto Alexander Fleming">
        </div>
        <div class="fucaDesarrollaDerecha">
          <div class="column ga-1">
            <div class="titleUnderline">
              <p class="text-white font-weight-bold">DÓNDE ESTAMOS</p>
              <span class="underlineFooter whiteUnderlineTitle"></span>
            </div>
            <div class="rowAlign ga-05">
              <div class="iconDondeEstamos bgImgContain"></div>
              <p class="contactateText text-white">Conesa 1079, timbre 3, CABA</p>
            </div>
          </div>
          <div class="column ga-1">
            <div class="titleUnderline">
              <p class="text-white font-weight-bold">CONTACTATE</p>
              <span class="underlineFooter whiteUnderlineTitle"></span>
            </div>
            <div id="contactateListDesktop" class="contactateList column ga-15"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="derechos py-15-px-1">
      <p class="font-weight-bold text-center text-white">Fundación FUCA Copyright© 2024</p>
      <p class="font-weight-bold text-center text-white">Todos los derechos reservados</p>
    </div>
  </footer>
  <!--finbody-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/content/js/headerFooter.js"></script>
  <script src="/content/js/educacionMedica.js"></script>
</body>

</html>