<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link rel="stylesheet" href="/content/css/formaciones.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Educación Médica<span id="title"></span></h1>
      </div>
    </section>
    <section id="formacionContainer">
      <div class="formacion column">
        <h2 class="w-100 titleUnderline">
          <span>Introducción</span>
          <span class="greenUnderlineTitle"></span>
        </h2>
        <div id="introduccion" class="w-100 column"></div>
      </div>
      <div class="formacion column">
        <h2 class="w-100 titleUnderline">
          <span>Presentación</span>
          <span class="greenUnderlineTitle"></span>
        </h2>
        <div id="presentacion" class="w-100 column"></div>
      </div>
    </section>

  </main>
  <!--footer-->
  <!--finbody-->
  <script src="/content/js/formaciones.js"></script>
</body>

</html>