<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!--head-->
  <link rel="stylesheet" href="/content/css/formaciones.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="heroGradient">
      <div class="flexCenter">
        <h1 class="column">Educación Médica<span>"Formacion"</span></h1>
      </div>
    </section>
    <section class="formacion column">
      <h2 class="w-100 titleUnderline">
        <span>Introducción</span>
        <span class="greenUnderlineTitle"></span>
      </h2>
      <p>
        La Especialización en Oncología Clínica tiene una duración de tres años, y es una residencia post-básica, ya que para el ingreso se requiere haber cursado como mínimo dos años de la especialidad en Clínica Médica. Los residentes adquieren experiencia en el diagnóstico, tratamiento y manejo de las complicaciones clínicas en pacientes oncológicos.
      </p>
      <p>
        Integran el programa nueve residentes -tres por cada año académico- y el Jefe de residentes.
      </p>
      <p>
        Desde la creación de esta Residencia en 1983, han egresado cada año tres oncólogos formados con los más altos estándares científicos y médicos, los que se desempeñan en centros de todo el país.
      </p>
    </section>
  </main>
  <!--footer-->
  <!--finbody-->
</body>

</html>