<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#17AF95" />
  <title>Fuca</title>
  <meta name="author" content="Benteveo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" />
  <!--head-->
  <link rel="stylesheet" href="/content/css/home.css">
</head>

<body>
  <!--header-->
  <main>
    <section class="hero">
      <div class="w-100 imgHero bgImgCover desktop-none"></div>
      <div class="heroContent columnAlignCenter ga-15 py-15-px-1 m-py-175-px-15 lg-py-225-px-3">
        <h1>
          <span>Unimos la ciencia y la vida</span> a través de la educación, la investigación y la prevención del cancer
        </h1>
        <div class="contactoHero w-100 h-100 columnAlignCenter ga-1">
          <a href="#" class="primaryButton">
            CONTACTATE
          </a>
          <div id="redes" class="d-flex ga-075"></div>
        </div>
      </div>
    </section>
    <section class="py-15-px-1 m-py-175-px-15 lg-py-225-px-3 xl-py-3-px-5">
      <h2 class="titleUnderline h2NuestrosPilares">
        Nuestros pilares
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div id="pilares" class="pilares columnAlignCenter ga-075 mt-15"></div>
    </section>
    <section class="novedades py-15-px-1 m-py-175-px-15 lg-py-225-px-3 xl-py-3-px-5">
      <h2 class="titleUnderline h2Novedades">
        Novedades
        <span class="greenUnderlineTitle"></span>
      </h2>
      <div class="temasDestacados desktop">
        <p>Temas destacados</p>
        <div id="filtrosNovedades" class="filtrosNovedades ga-075 my-15"></div>
      </div>
      <div id="novedadesContainer" class="novedadesContainer column ga-15"></div>
    </section>
    <section class="recursosObjetivos py-15">
      <div class="curvasContainer">
        <div class="graficoEnFuca">
          <div class="graficoContainer columnAlignCenter ga-075 mx-1">
            <div class="datosGrafico align-start">
              <p class="text-white">70%</p>
              <p class="text-white">Investigación, Educación y Prevención</p>
            </div>
            <img src="/content/img/home/grafico-recursos.svg" alt="Grafico Objetivos" />
            <div class="datosGrafico align-end">
              <p class="text-white text-end">30%</p>
              <p class="text-white text-end">Gastos de estructura</p>
            </div>
          </div>
          <div class="enFucaContainer columnAlignCenter ga-15 mx-1">
            <p class="enFuca text-white mt-15">
              En FUCA, gestionamos los recursos de manera estratégica para alcanzar nuestros objetivos de eficiencia y
              sostenibilidad.
            </p>
            <div class="w-75 enFucaBtns columnAlignCenter ga-075">
              <a class="btnDona" href="#">DONÁ A FUCA HOY</a>
              <a class="btnActualiza" href="#">ACTUALIZÁ TU DONACIÓN</a>
            </div>
          </div>
        </div>
        <div class="acompananContainer mx-1">
          <h2 class="h2NosAcompanan text-white titleUnderline mt-15">
            Nos acompañan
            <span class="whiteUnderlineTitle"></span>
          </h2>
          <div id="acompanan" class="sliderAcompanan mt-15"></div>
        </div>
      </div>
    </section>
    <section class="py-15-px-1 m-py-175-px-15 lg-py-225-px-3">
      <div class="suscribeteContainer">
        <div class="suscribete columnAlignCenter">
          <h2>Suscribete a nuestro newletter</h2>
          <p>y recibí todas las novedades de FUCA</p>
        </div>
        <form class="columnAlignCenter" action="">
          <div class="inputContainer">
            <input class="w-100 inputText my-075" type="email" placeholder="Ingresa tu email">
          </div>
          <button class="primaryButton btnNewsletter" type="submit">SUSCRIBIRME</button>
        </form>
        <div class="miraYoutube rowCenter ga-075 py-05 mt-075">
          <svg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M12 2.51916C12 1.1284 10.8296 0 9.38701 0H2.61292C1.17038 0 0 1.1284 0 2.51916V5.58084C0 6.9716 1.17038 8.1 2.61292 8.1H9.38701C10.8296 8.1 12 6.9716 12 5.58084V2.51916ZM7.72524 4.20283L5.02511 5.63179C4.90887 5.69292 4.80316 5.61142 4.80316 5.48151V2.54972C4.80316 2.41981 4.91145 2.3383 5.03034 2.40198L7.75162 3.90482C7.87051 3.97104 7.85206 4.13915 7.73053 4.20283H7.72524Z'
              fill='#17AF95' />
          </svg>
          <a href="#">Mirá nuestras charlas y vivos en YT</a>
        </div>
      </div>
    </section>
  </main>
  <!--footer-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!--finbody-->
  <script src="/content/js/home.js"></script>
</body>

</html>