<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>
        Informacion del Cancer
    </title>
    <meta name="description" content="Novedades." />
    <meta name="keywords" content="Novedades" />
    <!--head-->
    <link rel="stylesheet" href="/content/css/informacionCancer.css">
</head>

<body>
    <!--header-->
    <main>
        <section class="heroGradient">
            <div class="flexCenter">
                <h1 class="column">Información sobre el cáncer<span>Encontrá respuestas a tus preguntas</span></h1>
            </div>
        </section>
        <section class="informacion columnAlignCenter">
            <div class="w-100 columnAlignCenter">
                <img class="w-100" src="/content/img/informacionCancer/que-es-el-cancer.png" alt="Qué es el cáncer">
                <div class="column">
                    <h2 class="w-100 titleUnderline">
                        <span>Qué es el cáncer?</span>
                        <span class="greenUnderlineTitle"></span>
                    </h2>
                    <div class="column">
                        <p>
                            El cáncer ocurre cuando las células del cuerpo crecen y se multiplican en forma
                            descontrolada.
                        </p>
                        <p>
                            El cuerpo está compuesto por diversos tipos de células, las que crecen y se dividen para
                            producir nuevas células que son necesarias para el organismo. Precisamente cuando este
                            proceso se descontrola, se produce una masa de tejido llamada tumor.
                        </p>
                        <p>
                            Los tumores pueden ser benignos o malignos y sólo estos últimos constituyen cáncer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-100 columnAlignCenter">
                <img class="w-100" src="/content/img/informacionCancer/por-que-conocer-sobre-el-cancer.png"
                    alt="Por qué es importante conocer sobre el cáncer">
                <div class="column">
                    <h2 class="w-100 titleUnderline">
                        <span>¿Por qué es importante conocer sobre el cáncer?</span>
                        <span class="greenUnderlineTitle"></span>
                    </h2>
                    <p>
                        Porque la incidencia está en aumento, debido a una mayor detección y a la mayor expectativa
                        de vida de la población. Siempre decimos que una de cada dos personas puede tener cáncer a
                        lo largo de su vida y el riesgo aumenta con la edad.
                    </p>
                </div>
            </div>
            <div class="w-100 columnAlignCenter">
                <img class="w-100" src="/content/img/informacionCancer/medidas-preventivas-cancer.png"
                    alt="Qué medidas podemos tomar para prevenir el cáncer">
                <div class="column">
                    <h2 class="w-100 titleUnderline">
                        <span>¿Qué medidas podemos tomar para prevenir el cáncer?</span>
                        <span class="greenUnderlineTitle"></span>
                    </h2>
                    <p>
                        Con el conocimiento que tenemos actualmente, sólo algunos tipos de cáncer pueden prevenirse,
                        por ejemplo no fumando para el cáncer de pulmón, la vacuna del HPV para el cáncer de cuello
                        uterino, entre otros. Todo esto se engloba en algo que se llama educación. La educación no
                        solo es médica, sino también pública. Y una de las cosas que más desconoce la población en
                        general, probablemente por temor, es sobre el cáncer.
                    </p>
                </div>
            </div>
        </section>
        <section class="columnAlignCenter bg-gris">
            <h2 class="w-100 titleUnderline">
                <span>Tipos de cáncer</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div id="tipos" class="tiposContainer"></div>
        </section>
        <section class="columnAlignCenter">
            <h2 class="w-100 titleUnderline">
                <span>Información general</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div id="opcionesContainer" class="opcionesContainer"></div>
            <div id="opcionBody" class="w-100 opcionBody column"></div>
        </section>
    </main>
    <!--footer-->
    <!--finbody-->
    <script src="/content/js/informacionCancer.js"></script>
</body>

</html>