<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>
        Charlas de Profesionales
    </title>
    <meta name="description" content="Novedades." />
    <meta name="keywords" content="Novedades" />
    <!--head-->
    <link rel="stylesheet" href="/content/css/nuestraHistoria.css">
</head>

<body>
    <!--header-->
    <main>
        <section class="heroGradient">
            <div class="flexCenter">
                <h1 class="column">
                    Nuestra historia<span>A FUCA la construimos
                        entre todos</span>
                </h1>
            </div>
        </section>
        <section class="columnAlignCenter">
            <p class="introduccion">
                Contribuimos a reducir la mortalidad por cáncer a través de la docencia médica, la investigación
                científica y la prevención a la comunidad brindando herramientas a través de la educación y la
                concientización para el cuidado de la salud.
            </p>
            <div class="visionValores column">
                <div class="column">
                    <h3>Visión</h3>
                    <p>Un mundo sin cáncer es posible: lograrlo es tarea de todos.</p>
                </div>
                <div class="column">
                    <h3>Valores</h3>
                    <p>Honestidad, profesionalismo, responsabilidad, compromiso y solidaridad.</p>
                </div>
            </div>
        </section>
        <section class="column bg-gris">
            <h2 class="w-100 titleUnderline">
                <span>Objetivos</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div id="objetivosContainer" class="objetivosContainer columnAlignCenter"></div>
        </section>
        <section class="column">
            <h2 class="w-100 titleUnderline">
                <span>Historia de FUCA</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <p>
                La Fundación Cáncer - FUCA (Fundación para la Investigación, Docencia y Prevención del Cáncer), es una
                organización de la sociedad civil creada en 1983 por los Dres. Reinlado Chacón y José Mordoh, inscripta
                en la I.G.J. con el N° 33.
            </p>
            <div id="historiaAnios" class="historiaAnios pillContainer"></div>
            <div id="historiaBody" class="historiaBody column"></div>
        </section>
        <section class="column">
            <h2 class="w-100 titleUnderline">
                <span>Memoria y balances</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <p>Te presentamos los estados contables y la memoria de FUCA.</p>
            <div1 class="balances">
                <a href="/content/img/nuestraHistoria/balance-2020.pdf" target="_blank" class="primaryButton">Ver balance 2020</a>
                <a href="/content/img/nuestraHistoria/balance-2021.pdf" target="_blank" class="primaryButton">Ver balance 2021</a>
            </div1
        </section>
    </main>
    <!--footer-->
    <!--finbody-->
    <script src="/content/js/nuestraHistoria.js"></script>
</body>

</html>