<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>Quiénes Somos - FUCA, Fundación Contra el Cáncer en Argentina</title>
    <meta name="description"
        content="En FUCA trabajamos para prevenir y combatir el cáncer a través de la investigación, la educación y la atención médica. Conoce nuestro equipo, misión y valores.">
    <meta name="keywords"
        content="quiénes somos FUCA, Fundación Cáncer Argentina, misión FUCA, prevención del cáncer, investigación oncológica">
    <!--head-->
    <link rel="stylesheet" href="/content/css/quienesSomos.css">
</head>

<body>
    <!--header-->
    <main>
        <section class="heroGradient">
            <div class="flexCenter">
                <h1 class="column">
                    Quiénes somos
                </h1>
            </div>
        </section>
        <section class="column">
            <h2 class="w-100 titleUnderline">
                <span>Consejo de Administración</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div id="consejoContainer" class="consejoContainer"></div>
        </section>
        <section class="column bg-gris">
            <h2 class="w-100 titleUnderline">
                <span>Equipos</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <p class="largeP font-weight-bold">Gestión y desarrollo institucional</p>
            <div class="container column">
                <div class="equipo column">
                    <p class="font-weight-bold">Denise Nesti</p>
                    <p>Donantes y colaboradores</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Laura Alvarez</p>
                    <p>Administración general</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">D.G. Daniela Callegari</p>
                    <p>Comunicación y prensa</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Marta Somma</p>
                    <p>Espacio FUCA y voluntarios</p>
                </div>
            </div>
            <p class="equipoPrimary">CÓMITE ASESOR DE COMUNICACIÓN MÉDICA</p>
            <div class="container column">
                <div class="equipo column">
                    <p class="font-weight-bold">Dra. Ana Laura Mendaña</p>
                    <p>Oncológica clínica</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dr. Sergio Rivero</p>
                    <p>Oncólogo clínico</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dra. Verónica Fabiano</p>
                    <p>Ginecóloga y mastóloga</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dr. Andrés Rodriguez</p>
                    <p>Oncólogo clínico</p>
                </div>
            </div>
            <div class="categoria column">
                <p class="font-weight-bold">Formación médica</p>
            </div>
            <div class="container column">
                <div class="equipo column">
                    <p class="equipoPrimary">RESIDENCIA EN ONCOLOGÍA CLÍNICA</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Reinaldo Chacón</p>
                        <p>Director</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Matías Chacón</p>
                        <p>Subdirector</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Marcos Daniel Bortz</p>
                        <p>Jefe de residentes</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">RESIDENCIA EN MASTOLOGÍA</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Federico Coló</p>
                        <p>Director</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Martín Loza</p>
                        <p>Subdirector</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">FELLOWSHIP EN ONCO HEMATOLOGÍA Y TRASPLANTE HEMATOPOYÉTICO</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Julio C. Sánchez Ávalos</p>
                        <p>Consultor</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dra. Ma. Cecilia Foncuberta</p>
                        <p>Jefa</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dra. Adriana Vitriú</p>
                        <p>Subjefa de la unidad TMO</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dra. Paola Ochoa</p>
                        <p>Coordinadora docente del fellow</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">RESIDENCIA EN DIAGNÓSTICO POR IMÁGENES</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Daniel Mysler</p>
                        <p>Director</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Lisandro Paganini</p>
                        <p>Director</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">FELLOWSHIP EN CIRUGÍA TORÁCICA</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Adolfo Rosales</p>
                        <p>Director</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">FELLOWSHIP EN UROLOGÍA ONCOLÓGICA</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Gustavo Villoldo</p>
                        <p>Director</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">FELLOWSHIP EN PSICO-ONCOLOGÍA</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Lic. Nancy Ferro</p>
                        <p>Director</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">FELLOWSHIP EN ORTOPEDIA ONCOLÓGICA</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Erik Pebe Pueyrredón</p>
                        <p>Director</p>
                    </div>
                </div>
            </div>
            <div class="categoria column">
                <p class="font-weight-bold">Biblioteca FUCA - Fleming</p>
            </div>
            <div class="container column">
                <div class="equipo column">
                    <p class="font-weight-bold">Prof. María Luisa Poljak</p>
                    <p>Directora</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Rodrigo Barros</p>
                    <p>Asistente técnico</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dr. Marcelo Zylberman</p>
                    <p>Asesor médico</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dr. José Mordoh</p>
                    <p>Asesor científico</p>
                </div>
            </div>
            <div class="w-100">
                <p class="equipoPrimary">INFORMACIÓN Y COMUNICACIÓN CIENTÍFICA EN LINKEDIN</p>
            </div>
            <div class="container containerSecundario column">
                <div class="equipo column">
                    <p class="font-weight-bold">Prof. María Luisa Poljak</p>
                    <p>Coordinadora general</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">D.G. Daniela Callegari</p>
                    <p>Coordinadora en comunicación</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dr. Reinaldo Chacón</p>
                    <p>Asesor médico</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dr. José Mordoh</p>
                    <p>Asesor científico</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dr. Martín Ángel</p>
                    <p>Representante de Educación Médica</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Dra. Ayelén Pesce Viglietti</p>
                    <p>Representante Centro de Investigaciones Oncológicas (CIO)</p>
                </div>
                <div class="equipo column">
                    <p class="font-weight-bold">Nos acompañan servicios del Instituto Alexander Fleming</p>
                </div>
            </div>
            <div class="categoria column">
                <p class="font-weight-bold">Centro de Investigaciones Oncológicas (CIO)</p>
            </div>
            <div class="container column">
                <div class="equipo column">
                    <p class="equipoPrimary">DIRECTORES</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. José Mordoh</p>
                        <p>Director - Investigador superior del CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dra. María Marcela Barrio</p>
                        <p>Sub-directora e investigadora independiente CONICET</p>
                    </div>
                    <p class="equipoPrimary">SECRETARIA</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Silvana Ribelle</p>
                        <p>Secretaría de dirección</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">INVESTIGADORES</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dr. Michele Bianchini</p>
                        <p>Investigador independiente del CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dra. Estrella M. Levy</p>
                        <p>Investigadora independiente del CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dra. Mariana Aris</p>
                        <p>Investigadora adjunta del CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Dra. Ayelén Pesce Viglietti</p>
                        <p>Investigadora asistente del CONICET</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">BECARIOS DOCTORALES</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Lic. Erika Schwab</p>
                        <p>CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Lic. María Belén Sánchez</p>
                        <p>CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Bioq. José León Mellado</p>
                        <p>ANPCyT</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Lic. Bianca Vasconcelos</p>
                        <p>CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Lic. María Belén Bordignon</p>
                        <p>CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Lic. en Biología Ailén Fidyka</p>
                        <p>CONICET</p>
                    </div>
                    <div class="equipo column">
                        <p class="font-weight-bold">Lic. Ibel Carri</p>
                        <p>CONICET</p>
                    </div>
                </div>
                <div class="equipo column">
                    <p class="equipoPrimary">TESINISTAS DE GRADO</p>
                    <div class="equipo column">
                        <p class="font-weight-bold">Est. María Victoria Echenique</p>
                        <p>Biomedicina, Universidad Favaloro</p>
                    </div>
                    <p class="equipoPrimary">TÉCNICA CULTIVO CELULAR</p>
                    <div class="equipo equipoSecundario column">
                        <p class="font-weight-bold">Brenda Pereira Carlés</p>
                    </div>
                    <p class="equipoPrimary">TÉCNICA ESTERILIZACIÓN Y LIMPIEZA DE MATERIAL</p>
                    <div class="equipo equipoSecundario column">
                        <p class="font-weight-bold">Daniela Drennen</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="fotoEquipo">
            <img src="/content/img/quienesSomos/Equipo-Fuca.webp" alt="Equipo Fuca" class="w-100" />
        </section>
        <section class="column">
            <h2 class="w-100 titleUnderline">
                <span>Ser voluntario de FUCA</span>
                <span class="greenUnderlineTitle"></span>
            </h2>
            <div id="voluntarioContainer" class="voluntarioContainer rowCenter"></div>
        </section>
        <section class="sumate bg-primary">
            <h2 class="text-center text-white">¡Sumate a nuestro equipo de voluntarios!</h2>
            <p class="text-center text-white">Escribenos a voluntarios@fuca.org.ar y solicitá tu entrevista de lunes a
                viernes de 10 a 16 horas.</p>
        </section>
        <section class="voluntarioDistancia">
            <div>
                <img src="/content/img/quienesSomos/voluntarios-fuca.webp" alt="Voluntarios Fuca">
                <img src="/content/img/quienesSomos/fuca-voluntarios.webp" alt="Voluntarios Fuca">
            </div>
            <div class="column">
                <h2 class="w-100 titleUnderline">
                    <span>Y si no tengo tiempo…
                        ¿Cómo puedo ser voluntario
                        a distancia?</span>
                    <span class="greenUnderlineTitle"></span>
                </h2>
                <p>
                    Si querés colaborar con nosotros pero no tenés tiempo o vivís lejos te proponemos las siguientes
                    actividades para ayudarnos:
                </p>
                <ul>
                    <li>
                        Difundí nuestros contenidos en tus redes sociales.
                    </li>
                    <li>
                        Enviá un mail a tus contactos invitándolos a colaborar con FUCA con una donación mensual, por
                        única vez o como voluntarios.
                    </li>
                    <li>
                        Si tenés tu página web, podés pedirnos nuestro logo y ayudarnos a difundir a FUCA linkeando con
                        nuestra web.
                    </li>
                    <li>
                        Si conocés empresas que nos puedan ayudar ¡contales de nosotros! Podés enviarnos sus contactos e
                        invitarlos a colaborar: siendo auspiciantes de nuestros eventos o formar parte de las campañas
                        de concientización del cáncer.
                    </li>
                    <li>
                        Si conocés periodistas o medios de prensa que puedan difundir nuestra tarea, pediles que nos
                        escriban para que les enviemos las gacetillas de nuestras acciones.
                    </li>
                </ul>
                <p class="font-weight-bold">
                    ¡Tus ideas, tus contactos y tus posibilidades son fundamentales para nuestra misión!
                </p>
            </div>
        </section>
    </main>
    <!--footer-->
    <!--finbody-->
    <script src="/content/js/quienesSomos.js"></script>
</body>

</html>