main {
  background-color: white;
}

/* Introduccion Dictado */

.introDictado {
  padding: 1rem 1rem 1.5rem 1rem;
}

.introduccion {
  margin: 1rem 0 0.75rem 0;
}

.introduccion p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.8);
}

.dictadoClases {
  border: 1px solid rgb(23, 175, 149);
}

/* Aulas Abiertas */

.aulasAbiertas {
  padding: 1.5rem 1rem;
}

.aulasAbiertasList {
  list-style-type: disc;
  padding-left: 1rem;
}

.aulasAbiertasList li {
  list-style: inherit;
}

.contenidoAulasAbiertas {
  background-color: #F2F2F2;
  padding: 1.5rem 1rem;
}

.contenidoAulasAbiertas>p {
  color: rgba(0, 0, 0, 0.8);
  margin: 2rem 0;
}

.contenidoAulasAbiertas ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.contenidoAulasAbiertas ul li {
  list-style: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

/* Cita */

.seccionCita {
  background: linear-gradient(96.42deg, #1A8A97 0.27%, #17AF95 100.94%);
  padding: 2.25rem 2rem;
}

.seccionCita img {
  max-width: 434px;
}

/* Inscribi Tu Colegio */

.inscribiTuColegio {
  padding: 1.5rem 1rem;
}

.caracteristicasContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.caracteristica {
  width: 47%;
  border-radius: 18px;
  border: 1px solid rgba(96, 128, 224, 1);
  padding: 1rem 0.75rem;
}

.caracteristica img {
  width: 3rem;
}

.inscribiColegioBtn {
  position: relative;
  font-size: 1rem;
  padding: 0.75rem 3.5rem 0.75rem 2rem;
  transition: all 0.3s;
}

.inscribiColegioBtn::after {
  width: 1rem;
  height: 1rem;
  content: '';
  position: absolute;
  top: 50%;
  right: 2rem;
  background-image: url("/content/img/home/Icon-Flecha-Novedad-Blanco.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.inscribiColegioBtn:hover::after {
  background-image: url("/content/img/home/Icon-Flecha-Novedad-Verde.png");
}

/* Colegios Participaron */

.colegiosParticiparon {
  background-color: #F2F2F2;
  padding: 1.5rem 1rem;
}

.colegiosParticiparon .greenUnderlineTitle {
  width: 43%;
  border-width: 4px;
}

.colegiosContainer {
  margin-top: 2rem;
}

.colegiosContainer p {
  font-weight: 500;
  line-height: 1.4rem;
}

.colegiosParticiparon button {
  margin-top: 0.75rem;
}

/* Inscribi - Solicita */

.inscribiSolicita {
  padding: 1.5rem 1rem;
}

.linksContainer {
  gap: 0.75rem;
}

.linkContainer div:first-child {
  width: 18rem;
  height: 9.375rem;
}

.inscribiImg {
  background-image: url("/content/img/aulasAbiertas/Inscribi-Tu-Colegio.png");
}

.solicitaImg {
  background-image: url("/content/img/aulasAbiertas/Guia-Actividades-Docentes.png");
}

.linkBody {
  gap: 1rem;
  padding: 1.5rem 2rem 1.5rem 1rem;
}

.linkBody img:first-child {
  width: 3rem;
  height: 3rem;
}

.linkBody div:first-of-type {
  display: flex;
  align-items: end;
  gap: 3rem;
}

.linkBody div:first-of-type p {
  font-weight: 700;
}

.iconFlecha {
  width: 2rem;
  height: 2rem;
}

/* Trabajos - Acompanan */

.trabajosAcompanan {
  position: relative;
  padding: 1.5rem 1rem;
}

.trabajosAlumnosDesktop {
  display: none;
}

.swiperTrabajosAlumnos {
  position: relative;
  height: 10rem;
  overflow: hidden;
  z-index: 1;
  cursor: grab;
  margin: 1.5rem 0;
}

.swiperTrabajosAlumnos .swiper-slide {
  width: 10rem;
}

.swiperTrabajosAlumnos img {
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.swiperAcompanan {
  margin-top: 1.5rem;
}

.swiperAcompanan .swiper-slide {
  width: 7.188rem;
}

.swiperAcompanan img {
  height: 4rem;
}

@media (width >=700px) {
  .introDictado {
    display: flex;
    gap: 2rem;
    padding: 3rem 2rem;
  }

  .introDictado>div {
    width: 50%;
  }

  .introDictado div:first-child {
    display: flex;
    flex-direction: column;
  }

  .introDictado div:first-child img {
    width: 19.063rem;
  }

  .aulasAbiertas {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .aulasAbiertas>img {
    width: 50%;
    object-fit: cover;
  }

  .objetivosContainer {
    width: 50%;
    padding: 3.813rem 2rem;
  }

  .objetivosContainer>p {
    margin: 0 0 1rem 0;
  }
}

@media (width >=1080px) {
  h2 {
    font-size: 2rem;
  }

  /* Introduccion */

  .introDictado {
    gap: 4rem;
  }

  .introDictado>div {
    width: 45%;
  }

  .introDictado div:first-child {
    gap: 2rem;
  }

  .introDictado div:first-child img {
    width: 16.688rem;
  }

  .introduccion p {
    font-size: 1rem;
  }

  .introDictado h1 {
    margin: 1.5rem 0 0.375rem 0;
  }
  
  .dictadoClasesText {
    gap: 2rem;
  }

  .dictadoClasesText p {
    font-size: 1rem;
  }

  /* Aulas Abiertas */

  .objetivosContainer>p {
    font-size: 1.5rem;
  }

  .aulasAbiertasList {
    height: 80%;
    justify-content: space-evenly;
  }

  .objetivosContainer ul li {
    font-size: 1rem;
  }

  /* Contenido Aulas */

  .contenidoAulasAbiertas {
    padding: 3rem 2rem;
  }

  .h2NuestrosPilares span {
    width: 7.5rem;
  }

  .contenidoAulasAbiertas>p {
    font-size: 1.25rem;
    margin: 2rem 0 1rem 0;
  }

  .contenidoAulasAbiertas ul {
    padding-left: 1.5rem;
  }

  .contenidoAulasAbiertas ul li {
    font-size: 1rem;
  }

  /* Inscribi Colegio */

  .inscribiTuColegio {
    padding: 3rem 2rem;
  }

  .caracteristicasContainer {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .caracteristica img {
    width: 4.5rem;
    height: 4.5rem;
  }

  .caracteristicaBody p {
    font-size: 1.25rem;
  }

  .inscribiColegioBtn {
    padding: 0.875rem 3.5rem 0.875rem 1.5rem;
  }

  .inscribiColegioBtn::after {
    right: 1.5rem;
  }

  /* Colegios */

  .colegiosParticiparon {
    padding: 3rem 2rem;
  }

  .h2Colegios span {
    width: 7.5rem !important;
  }

  .colegiosContainer {
    height: 55rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
  }

  .colegiosContainer p {
    width: 14.375rem;
    font-size: 0.875rem;
    display: flex;
    margin-bottom: 0.25rem;
  }

  .colegiosParticiparon button {
    display: none;
  }

  /* Links */

  .inscribiSolicita {
    padding: 3rem 0;
  }

  .linksContainer {
    flex-direction: row;
    gap: 2rem;
  }

  .linkContainer div:first-child {
    width: 100%;
    height: 18.75rem;
  }

  .linkBody {
    padding: 1.5rem 2rem 2rem 2rem;
  }

  .linkBody img:first-child {
    width: 4.5rem;
    height: 4.5rem;
  }

  .linkBody div:first-of-type p {
    font-size: 1.5rem;
  }

  /* Swipers */
  .trabajosAcompanan {
    padding: 0 2rem 3rem 2rem;
  }

  .h2TrabajosRealizados span {
    width: 7.5rem;
  }

  .swiperTrabajosAlumnos {
    display: none;
  }
  
  .trabajosAlumnosDesktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0 3rem 0;
  }

  .trabajoAlumnoDesktop {
    width: 14.75rem;
    height: 14.75rem;
    border-radius: 9px;
  }

  .h2Acompanan span {
    width: 12.5rem;
  }

  .swiperAcompanan .swiper-slide {
    width: 10.563rem;
  }

  .swiperAcompanan img {
    width: 100%;
    height: 100%;
  }
}

@media (width >=1280px) {
  .introDictado div:first-child img {
    width: 20rem;
  }

  .dictadoClasesText {
    gap: 0.5rem;
  }
}

@media (width >=1440px) {
  .introDictado {
    justify-content: space-between;
  }

  .introDictado>div {
    width: 50%;
  }

  .aulasAbiertas>img {
    max-width: 715px;
  }

  .objetivosContainer {
    margin: 0 auto;
  }

  .objetivosContainer ul li {
    font-size: 1.25rem;
  }

  .contenidoAulasAbiertas ul {
    height: 11rem;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .contenidoAulasAbiertas ul li {
    width: 47%;
  }
}