.becarios {
  padding: 1.5rem 1rem;
}

.becarios p,
.donacionVidas p {
  font-size: 0.875rem;
}

.buttonsBecarios {
  display: flex;
  gap: 0.75rem;
}

.btnBecarios {
  border: 1px solid var(--color-primario);
  border-radius: 9px;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.78rem 0.75rem;
  cursor: pointer;
}

.active {
  background-color: var(--color-primario);
  color: white;
}

.inactive {
  background-color: white;
  color: var(--color-primario);
}

.becariosContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1.5rem;
}

.becariosContainer.activeContent {
  display: flex;
}

.titleContent {
  gap: 1.5rem;
  border-top: 1px solid #F2F2F2;
  padding-top: 1.5rem;
}

.containerAnios {
  width: 100%;
  gap: 1.5rem;
  border-top: 1px solid #F2F2F2;
  padding-top: 1.5rem;
}

.titleContent:first-of-type, .containerAnios:first-of-type {
  border: none;
  padding: 0;
}

.containerBecariosCards {
  width: 100%;
  gap: 1rem;
}

.becariosContainer h3 {
  width: 100%;
  border-top: 1px solid #F2F2F2;
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.becariosContainer h3 {
  text-align: center;
  font-size: 1.125rem;
}

.becariosContainer h3:first-of-type {
  border: none;
  padding: 0;
}

.becarioCard {
  gap: 0.75rem;
}

.becarioInfo {
  gap: 0.5rem;
}

.nombre {
  font-weight: 700;
}

.anios {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.lugar {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

/* Donacion Vidas */

.donacionVidas {
  background-color: #F2F2F2;
  padding: 1.5rem 1rem;
}

.donacionVidas a {
  margin-top: 0.75rem;
}

@media (width >=1080px) {
  .becarios {
    padding: 3rem 2rem;
  }

  .buttonsBecarios {
    gap: 1rem;
  }

  .btnBecarios {
    font-size: 1rem;
    padding: 0.688rem 1.5rem;
  }

  .becariosContainer {
    gap: 3rem;
    padding-top: 3rem;
  }

  .containerBecariosCards {
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
  }

  .becarioCard {
    width: 14rem;
    height: 11.25rem;
  }

  .donacionVidas {
    padding: 3rem 2rem;
  }

  .donacionVidas a {
    margin-top: 1.5rem;
  }
}