.heroGradient>div>h1 {
    gap: 1.5rem;
}

section {
    gap: 1.5rem;
    padding: 1.5rem 1rem;
}

p {
    font-size: 0.875rem;
}

.cioContainer>div>div {
    gap: 1.5rem;
}

.cioContainer>div {
    gap: 0.75rem;
}

.cioContainer span {
    font-weight: bold;
}

/* Proyectos */

/* Proyectos */

.proyectosContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.proyecto {
    width: 47%;
    gap: 1.5rem;
    background-color: white;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    padding: 1rem 0.75rem;
}

.proyecto img {
    width: 3rem;
    height: 3rem;
    filter: none;
}

.proyecto h3 {
    text-align: start;
}

.proyectoSeleccionado {
    background-color: var(--color-primario);
    color: white;
}

.proyectoSeleccionado img {
    filter: brightness(0) invert(1);
}

.proyectos .primaryButton {
    text-align: center;
    padding: 0.875rem 2rem;
}

/* Modal */

.modal {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.modalContent {
    width: 100%;
    max-width: 600px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: white;
    border-radius: 18px;
    padding: 20px;
}

.proyectoBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: calc(90vh - 200px);
    padding-right: 1rem;
}

.proyectoSubtitulo {
    font-size: 1rem;
    font-weight: bold;
}

.proyectoBody p span {
    font-weight: bold;
}

.proyectoBody::-webkit-scrollbar {
    width: 8px;
}

.proyectoBody::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.proyectoBody::-webkit-scrollbar-thumb {
    background: var(--color-primario);
    border-radius: 4px;
    transition: all 0.3s;
}

.proyectoBody::-webkit-scrollbar-thumb:hover {
    background: #157885;
}

.closeBtn {
    background-color: var(--color-primario);
    border-radius: 999px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.875rem 4.5rem;
}

/* Iframe */

.proyectoNuevoCio {
    background: linear-gradient(96.42deg, #1A8A97 0.27%, #17AF95 100.94%);
}

.proyectoNuevoCio iframe {
    width: 100%;
    height: 50vw;
    border: none;
    border-radius: 9px;
}

/* Botones y Contenido */

.pillContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.pill {
    background: transparent;
    border: 1px solid var(--color-primario);
    border-radius: 999px;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color-primario);
    cursor: pointer;
    padding: 0.875rem 1.5rem;
}

.pillSeleccionada {
    background-color: var(--color-primario);
    color: white;
}

/* Actividad academica */

.actividad>div {
    gap: 1.5rem;
}

.bodyTesis,
.bodyPublicaciones,
.bodyPremios {
    gap: 1rem;
}

.bodyTesis>div,
.bodyTesinas,
.bodyPremios>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--color-primario);
    border-radius: 18px;
    padding: 1rem;
}

.bodyPublicaciones>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 18px;
    padding: 1rem;
}

.bodyTesis>div>p:nth-child(2),
.bodyTesinas>p:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.bodyTesis>div span,
.bodyTesinas span,
.bodyPublicaciones span {
    font-weight: bold;
}

.bodyPublicaciones a {
    text-decoration: none;
    color: var(--color-primario);
    font-weight: 600;
}

/* Apoya */

.sectionApoya {
    gap: 1.5rem;
    background-color: var(--color-primario);
}

.sectionApoya>div {
    gap: 0.5rem;
}

@media (width >=700px) {
    section {
        padding: 3rem 2rem;
    }
}

@media (width >=1080px) {
    section {
        gap: 2rem;
    }

    p,
    .pill {
        font-size: 1rem;
    }

    .cioContainer {
        flex-direction: row;
    }

    .cioContainer>div {
        width: 50%;
        gap: 2rem;
    }

    .estructuraCIO {
        display: flex;
        padding: 0;
    }

    .proyecto {
        width: 32%;
        padding: 1.5rem;
    }

    .proyectoSubtitulo {
        font-size: 1.25rem;
    }

    .actividad h3 {
        font-size: 1.5rem;
    }

    .actividad>div {
        gap: 2rem;
    }

    .pillContainer {
        gap: 1rem;
    }

    .pill {
        padding: 0.875rem 1.75rem;
    }

    .bodyTesis,
    .bodyPublicaciones,
    .bodyPremios {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bodyTesis>div,
    .bodyTesinas,
    .bodyPremios>div,
    .bodyPublicaciones>div {
        width: 49%;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .sectionApoya p {
        font-size: 1.25rem;
    }

    .proyectoNuevoCio iframe {
        height: 35.625rem;
    }
}

@media (width >=1440px) {
    section {
        padding: 4rem 4.93rem;
    }
}