/* Campus - Curso */

.campusCurso,
.tuCrecimiento {
  gap: 1.5rem;
  padding: 1.5rem 1rem;
}

.campus,
.curso {
  width: 100%;
  gap: 1.5rem;
  background-color: #F2F2F2;
  text-decoration: none;
}

.campus img,
.curso img {
  object-fit: cover;
}

.campus div,
.curso div {
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.campus div .headerCampus {
  justify-content: flex-start;
  gap: 1rem;
  padding: 0;
}

.curso div {
  color: black;
}

.campus p,
.curso p,
.tuCrecimiento p {
  font-size: 0.875rem;
}

.ingresarCampus {
  margin-top: 0.5rem;
}

.ingresarCampus,
.solicitarMembresia {
  width: max-content;
  align-self: center;
  position: relative;
  font-size: 1rem;
  padding: 0.875rem 2.5rem 0.75rem 1.5rem;
  transition: all 0.3s;
}

.ingresarCampus::after,
.solicitarMembresia::after {
  width: 1rem;
  height: 1rem;
  content: '';
  position: absolute;
  top: 50%;
  right: 1rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.ingresarCampus::after {
  background-image: url("/content/img/home/Icon-Flecha-Novedad-Blanco.png");
}

.ingresarCampus:hover::after {
  background-image: url("/content/img/home/Icon-Flecha-Novedad-Verde.png");
}

/* Acompanan */

.acompanan {
  padding: 1.5rem 1rem;
}

.swiperAcompananCursos {
  overflow: hidden;
  padding: 4px;
}

.swiperAcompananCursos .swiper-slide {
  width: 6.938rem;
  border-radius: 9px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.85rem;
}

.swiperAcompananCursos .swiper-slide img {
  width: 100%;
  height: 4rem;
}

/* Tu crecimiento */

.tuCrecimiento {
  background-color: #17AF95;
  color: white;
}

.tuCrecimiento div {
  width: 100%;
  gap: 1rem;
}

.solicitarMembresia {
  padding: 0.875rem 3.25rem 0.75rem 2.25rem;
}

.solicitarMembresia::after {
  right: 1.5rem;
  background-image: url("/content/img/home/Icon-Flecha-Novedad-Verde.png");
}

.solicitarMembresia:hover::after {
  background-image: url("/content/img/home/Icon-Flecha-Novedad-Blanco.png");
}

@media (width >=700px) {
  .campusCurso {
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem 1.5rem;
  }

  .campus,
  .curso {
    width: 50%;
  }

  .campus div {
    height: 100%;
    justify-content: space-between;
  }

  .campus div .ingresarCampus {
    align-self: flex-start;
  }

  .tuCrecimiento,
  .acompanan {
    padding: 2rem 1.5rem;
  }

  .swiperAcompananCursos .swiper-slide img {
    height: 5rem;
  }

  .solicitarMembresia {
    align-self: flex-start;
  }
}

@media (width >=1080px) {

  .campusCurso,
  .acompanan,
  .tuCrecimiento {
    padding: 3rem 2rem;
  }

  .ingresarCampus,
  .solicitarMembresia {
    align-self: flex-start;
  }

  .ingresarCampus {
    margin-top: 1rem;
  }

  .campus p,
  .curso p,
  .tuCrecimiento p {
    font-size: 1rem;
  }

  .acompanan {
    padding-bottom: 3rem;
  }
}

@media (width >=1440px) {

  .campusCurso,
  .acompanan,
  .tuCrecimiento {
    padding: 4rem 4.93rem;
  }

  .campus div,
  .curso div {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .swiperAcompananCursos .swiper-slide img {
    height: 6rem;
  }
}

@media (width >=1600px) {
  .campusCurso,
  .acompanan,
  .tuCrecimiento {
    padding: 6rem 4.93rem;
  }

  .campus p,
  .curso p,
  .tuCrecimiento p {
    font-size: 1.25rem;
  }
}